footer.footer
	.site-container.footer__inner
		.footer__top
			ul.footer__menu
				li.footer__menu-item
					a(href="#").footer__menu-link Информация
				li.footer__menu-item
					a(href="#").footer__menu-link Услуги
				li.footer__menu-item
					a(href="#").footer__menu-link База знаний
				li.footer__menu-item
					a(href="#").footer__menu-link Контакты
				li.footer__menu-item
					a(href="#").footer__menu-link Москва

		.footer__social
			a(href="#").footer__social-item.fb
			a(href="#").footer__social-item.in
			a(href="#").footer__social-item.ytbe
			a(href="#").footer__social-item.vk
			a(href="#").footer__social-item.ok

		.footer__bottom
			.footer__left
				.footer__logo
				.footer__phone
					span Все звонки бесплатные и конфиденциальные
					a(href="tel:88006003960") 8 800 600 39 60
					span Получите помощь 24/7
			.footer__right.
				Материалы, размещенные на данной странице, носят информационный характер и предназначены для образовательных целей. Посетители сайта не должны использовать их в качестве медицинских рекомендаций. Определение диагноза и выбор методики лечения остается исключительной прерогативой вашего лечащего врача! Компания не несёт ответственности за возможные негативные последствия, возникшие в результате использования информации, размещенной на сайте https://nasrf.ru/

