footer.footer
	.site-container.footer__inner
		.footer__top
			ul.footer__menu
				li.footer__menu-item
					a(href="#").footer__menu-link Информация
				li.footer__menu-item
					a(href="#").footer__menu-link Услуги
				li.footer__menu-item
					a(href="#").footer__menu-link База знаний
				li.footer__menu-item
					a(href="#").footer__menu-link Контакты
				li.footer__menu-item
					a(href="#").footer__menu-link.footer__menu-link--sity Москва


		.footer__social
			a(href="#").footer__social-item.fb
				include ../../img/ico/fb.svg
			a(href="#").footer__social-item.in
				include ../../img/ico/inst.svg
			a(href="#").footer__social-item.ytbe
				include ../../img/ico/youtube.svg
			a(href="#").footer__social-item.vk
				include ../../img/ico/vk.svg
			a(href="#").footer__social-item.ok
				include ../../img/ico/ok.svg

		.footer__bottom
			.footer__left.hide-mobile
				a(href="/").header__logo
					img(src="./img/ico/big-logo.svg" alt="logo").header__logo-img
				.header__top-txt.
					Все звонки бесплатные и конфиденциальные
				.header__top-phone
					a(href="tel:88006003960").header__top-phone-link 8 800 600 39 60
				.header__top-help
					a(href="javascript:void(0);").header__top-help-i Получите помощь 24/7
			.footer__right.
				Материалы, размещенные на данной странице, носят информационный характер и предназначены для образовательных целей. Посетители сайта не должны использовать их в качестве медицинских рекомендаций. Определение диагноза и выбор методики лечения остается исключительной прерогативой вашего лечащего врача! Компания не несёт ответственности за возможные негативные последствия, возникшие в результате использования информации, размещенной на сайте https://nasrf.ru/


.popup.callback
	.popup__body
		.popup__inner
			.popup__close
				.popup__close-ico
			.popup__substrate
			.popup__content.callback__content.webp-img.b-lazy(data-webp="./img/callback-bg.webp" data-img="./img/callback-bg.jpg")
				form.site-form.callback__form
					.callback__title Мы свяжемся с вами и расскажем как помочь вашему близкому
					.site-form-row.callback__form-row
						.site-form__input.callback__input
							input(type='text' placeholder="Ваше имя" data-valid="name")
					.site-form-row.callback__form-row
						.site-form__input.callback__input
							input(type='tel' inputmode="numeric" placeholder="+7 ___ ___ __ __" data-valid="phone")
					.site-form-row.callback__form-row
						.site-form__checkbox.callback__checkbox
							input(type='checkbox' id="treatment" checked)
							label(for="treatment") Я даю свое согласие на обработку персональных данных и соглашаюсь с условиями и политикой конфиденциальности
					.site-form-row.callback__form-row
						.site-form__checkbox.callback__checkbox
							input(type='checkbox' id="sms" checked)
							label(for="sms") Я хочу получать sms уведомления о мероприятиях и/или иных услугах
					.site-form-row.callback__form-row
						a(href="#").site-btn.form__btn.callback__btn
							span Получить консультацию

				.site-form-submit
					.site-form-submit__title Ваша заявка принята
					.site-form-submit__caption Мы свяжемся с вами и расскажем как помочь вашему близкому

.popup.submit
	.popup__body
		.popup__inner
			.popup__close
				.popup__close-ico
			.popup__substrate
			.popup__content.submit__content
				.site-form-submit__title Ваша заявка принята
				.site-form-submit__caption Мы свяжемся с вами и расскажем как помочь вашему близкому