header.header
  .header__inner.site-container
    .header__top
      .header__top-column
        a(href="/").header__logo
          img(src="./img/ico/big-logo.svg" alt="logo").header__logo-img
          //img(src="./img/ico/mobile-logo.svg" alt="logo").header__logo-img.hide-desktop
      .header__top-column.header__top-column--center.hide-mobile
        .header__top-desktop-btn
          a(href="javascript:void(0);").header__top-desktop-btn-i#desktop-btn
      .header__top-column.hide-mobile
        .header__social
          a(href="#").header__social-link
            include ../../img/ico/telegram.svg
          a(href="#").header__social-link
            include ../../img/ico/wathsapp.svg
          a(href="#").header__social-link
            include ../../img/ico/viber.svg
        .header__top-txt.
          Все звонки бесплатные и конфиденциальные
        .header__top-phone
          a(href="tel:88006003960").header__top-phone-link 8 800 600 39 60
        .header__top-help
          a(href="javascript:void(0);" data-modal-class="callback").header__top-help-i Получите помощь 24/7
      .header__top-mobile-btn
        a(href="javascript:void(0);").header__top-mobile-btn-i#menu-btn
    .header__bottom#header-menu
      .header__links
        a(href="#").header__link Наркомания
        a(href="#").header__link Реабилитационные центры
        a(href="#").header__link Алкоголизм
      .header__nav
        .nav
          .nav__item.open-submenu-right.parent
            span.mobile-arrow
            a(href="#").nav__link Лечение
            .nav__submenu
              .nav__submenu-item.parent
                span.mobile-arrow
                a(href="#").nav__submenu-link Мефедрон
                .nav__submenu-lvl2
                  .nav__submenu-lvl2-item
                    a(href="#").nav__submenu-lvl2-link Последствия приема мефедрона
                  .nav__submenu-lvl2-item
                    a(href="#").nav__submenu-lvl2-link Детоксикация после приема мефедрона
                  .nav__submenu-lvl2-item
                    a(href="#").nav__submenu-lvl2-link Лечение зависимости от мефедрона
              .nav__submenu-item
                a(href="#").nav__submenu-link Альфа-ПВП
              .nav__submenu-item
                a(href="#").nav__submenu-link Метадон
              .nav__submenu-item
                a(href="#").nav__submenu-link Метамфетамин
              .nav__submenu-item
                a(href="#").nav__submenu-link Лирика
              .nav__submenu-item
                a(href="#").nav__submenu-link Спайс и соль
              .nav__submenu-item
                a(href="#").nav__submenu-link Смеси
              .nav__submenu-item
                a(href="#").nav__submenu-link Амфетамин
              .nav__submenu-item
                a(href="#").nav__submenu-link Героин
              .nav__submenu-item
                a(href="#").nav__submenu-link Бутират
              .nav__submenu-item
                a(href="#").nav__submenu-link Все статьи
          .nav__item.open-submenu-right
            a(href="#").nav__link Клиники
          .nav__item.open-submenu-right
            a(href="#").nav__link Родственникам
          .nav__item.open-submenu-left.parent
            span.mobile-arrow
            a(href="#").nav__link Публикации
            .nav__submenu
              .nav__submenu-item.parent
                span.mobile-arrow
                a(href="#").nav__submenu-link Мефедрон
                .nav__submenu-lvl2
                  .nav__submenu-lvl2-item
                    a(href="#").nav__submenu-lvl2-link Последствия приема мефедрона
                  .nav__submenu-lvl2-item
                    a(href="#").nav__submenu-lvl2-link Детоксикация после приема мефедрона
                  .nav__submenu-lvl2-item
                    a(href="#").nav__submenu-lvl2-link Лечение зависимости от мефедрона
              .nav__submenu-item
                a(href="#").nav__submenu-link Альфа-ПВП
              .nav__submenu-item
                a(href="#").nav__submenu-link Метадон
              .nav__submenu-item
                a(href="#").nav__submenu-link Метамфетамин
              .nav__submenu-item
                a(href="#").nav__submenu-link Лирика
              .nav__submenu-item
                a(href="#").nav__submenu-link Спайс и соль
              .nav__submenu-item
                a(href="#").nav__submenu-link Смеси
              .nav__submenu-item
                a(href="#").nav__submenu-link Амфетамин
              .nav__submenu-item
                a(href="#").nav__submenu-link Героин
              .nav__submenu-item
                a(href="#").nav__submenu-link Бутират
              .nav__submenu-item
                a(href="#").nav__submenu-link Все статьи
          .nav__item.open-submenu-left.parent
            span.mobile-arrow
            a(href="#").nav__link Портал
            .nav__submenu
              .nav__submenu-item
                a(href="#").nav__submenu-link О центре
              .nav__submenu-item
                a(href="#").nav__submenu-link Руководство
              .nav__submenu-item
                a(href="#").nav__submenu-link Наши сервисы
              .nav__submenu-item
                a(href="#").nav__submenu-link Новости
              .nav__submenu-item
                a(href="#").nav__submenu-link Контакты
              .nav__submenu-item
                a(href="#").nav__submenu-link Наша команда

      .header__top-column.hide-desktop
        .header__social
          a(href="#").header__social-link
            include ../../img/ico/telegram.svg
          a(href="#").header__social-link
            include ../../img/ico/wathsapp.svg
          a(href="#").header__social-link
            include ../../img/ico/viber.svg
        .header__top-txt.
          Все звонки бесплатные и конфиденциальные
        .header__top-phone
          a(href="tel:88006003960").header__top-phone-link 8 800 600 39 60
        .header__top-help
          a(href="javascript:void(0);" data-modal-class="callback").header__top-help-i Получите помощь 24/7



