extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "homepage loadpage";
  - var pageActive = "homepage";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    <picture>
      <source srcset="./img/awesomeWebPImage.webp" type="image/webp">
      <source srcset="./img/creakyOldJPEG.jpg" type="image/jpeg">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Alt Text!">
    </picture>

  div.main-wrap

    .starting
      .starting__inner
        .starting__title
        .starting__items
          .starting__item
            .starting__img
              img(src="")
            .starting__name Бесплатная  консультация
          .starting__item
            .starting__img
              img(src="")
            .starting__name Подбор услуги и программы
          .starting__item
            .starting__img
              img(src="")
            .starting__name Начало лечения и восстановления
        a(href="tel:88006003960").starting__phone 8 800 600 39 60
        .starting__caption Круглосуточная горячая линия
        a(href="#").starting__btn Записаться сейчас

    .small-price
      .small-price__inner.site-container
        .small-price__title.site-title Почему нельзя соглашаться на самые низкие цены?
        .small-price__items
          .small-price__item
            .small-price__img
              img(src="")
            .small-price__subtitle Условия проживания
            .small-price__caption Ужасные условия:  Полузаброшенные дома без ремонта.
            .small-price__txt Мы подберем: <br> Центр с благоприятными условиями, регулярной уборкой и возможностью проведения досуга, которое понравится именно вам!
            a(href="#").small-price__btn Все центры
          .small-price__item
            .small-price__img
              img(src="")
            .small-price__subtitle Программа лечения
            .small-price__caption Отсутствие цельной программы лечения.
            .small-price__txt Мы подберем: <br> Наши партнеры-клиники проводят бесплатную диагностику для выявления всех существующих проблем. А также помогают с трудоустройством, после прохождения лечения.
            a(href="#").small-price__btn Программа лечения
          .small-price__item
            .small-price__img
              img(src="")
            .small-price__subtitle Персонал и юристы
            .small-price__caption Отсутствие опыт у медперсонала и отсутствие юридической помощи.
            .small-price__txt Мы подберем: <br> Центр с медперсоналом имеющим высшее профильное образование. А также предоставление адвоката,если у вас проблемы с законом.
            a(href="#").small-price__btn Адвокатская помощь
          .small-price__item
            .small-price__img
              img(src="")
            .small-price__subtitle Работа с родными
            .small-price__caption Родственники остаются без поддержки наедине с проблемами.
            .small-price__txt Мы подберем: <br> Центр у которого работа с родственниками входит в программу лечения. Вы получите 2 программы по цене одной!
            a(href="#").small-price__btn Работа с созависимыми


    .reabilitation
      .reabilitation__inner.site-container
        .reabilitation__title.site-title Лучшие предложения реабилитации
        .reabilitation__items
          .reabilitation__item
            .reabilitation__img
              img(src="")
            .reabilitation__desc
              .reabilitation__subtitle Стандарт
              .reabilitation__caption Курс лечения длится 3 - 6 месяцев.  Возможна индивидуальная программа.
              .reabilitation__list
                .reabilitation__item Сертифицированная программа
                .reabilitation__item Квалифицированный персонал
                .reabilitation__item Индивидуальный подход в лечении
                .reabilitation__item Комплексная программа детоксикации
                .reabilitation__item Условия для спортивных занятий
                .reabilitation__item Психотерапевтическая реабилитация
                .reabilitation__item Наличие досуга
                .reabilitation__item Контроль и регулярная отчетность
                .reabilitation__item Реанимации для экстренных случаев
                .reabilitation__item Взаимодействие с семьей зависимого
              .reabilitation__example
                span Пример меню
                span Пример расписания дня
              .reabilitation__price
                .reabilitation__price-title Цена за месяц от
                a(href="#").reabilitation__price-btn 40 000 ₽
          .reabilitation__item
            .reabilitation__img
              img(src="")
            .reabilitation__desc
              .reabilitation__subtitle Комфорт
              .reabilitation__caption Курс лечения длится 3 - 6 месяцев.  Возможна индивидуальная программа.
              .reabilitation__list
                .reabilitation__item Все услуги курса “Стандарт”
                .reabilitation__item Дополнительно:
                .reabilitation__item Собственного трансфер
                .reabilitation__item Улучшенные условия проживания
                .reabilitation__item Дополнительные процедуры и индивидуальные занятия
                .reabilitation__item Спортзал в центре
                .reabilitation__item Расширенная досуговая программа
              .reabilitation__example
                span Пример меню
                span Пример расписания дня
              .reabilitation__price
                .reabilitation__price-title Цена за месяц от
                a(href="#").reabilitation__price-btn 60 000 ₽
          .reabilitation__item
            .reabilitation__img
              img(src="")
            .reabilitation__desc
              .reabilitation__subtitle VIP
              .reabilitation__caption Курс лечения длится 3 - 6 месяцев.  Возможна индивидуальная программа.
              .reabilitation__list
                .reabilitation__item Все услуги курса “Комфорт”
                .reabilitation__item Дополнительно:
                .reabilitation__item Комната на 2-3 места
                .reabilitation__item Полная анонимность
                .reabilitation__item Возможность выбора меню
                .reabilitation__item Доп. физиопроцедуры
                .reabilitation__item Персональный куратор
                .reabilitation__item Наличие бассейна
                .reabilitation__item Возможность замены групповых занятий на индивидуальные
              .reabilitation__example
                span Пример меню
                span Пример расписания дня
              .reabilitation__price
                .reabilitation__price-title Цена за месяц от
                a(href="#").reabilitation__price-btn 150 000 ₽

    .reviews
      .reviews__inner.site-container
        .reviews__title.site-title Отзывы
        .reviews__items
          .reviews__item
            .reviews__content
              .reviews__stars
              .reviews__name Janna Emelanceva
              .reviews__caption Спасибо центру за помощь нашей семье! Прошли все 12 шагов, алкоголь теперь для мужа забыт, как страшный сон.
              .reviews__txt Во многом помогла творческая реабилитация, муж ушел целиком в музыку, играет на гитаре и пишет песни! Не может нарадоваться. Спасибо специалистам за поддержку, за то, что дали надежду и спасение!
              .reviews__date 14.02.2019
          .reviews__item
            .reviews__content
              .reviews__stars
              .reviews__name Руслан, 29 лет
              .reviews__caption Полтора года назад моя любимая жена родила доченьку — мы мечтали об этом, и мечта исполнилась!
              .reviews__txt Но как я мог признаться ей, что употребляю наркотики? Но ради неё я решил измениться. Сказал, что нужно срочно улететь в командировку на пару месяцев, благо с моей работой это было вполне нормально...
              .reviews__date 27.03.2019
          .reviews__item
            .reviews__content
              .reviews__stars
              .reviews__name Alexander Petrovich
              .reviews__caption Здравствуйте меня зовут Александр, я проходил курс в реабилитационном центре.
              .reviews__txt Я остался очень доволен условиями проживания а также очень доволен квалифицированной помощью оказанной мне специалистами организации!
              .reviews__date 04.08.2019
        .reviews__btn
          a(href="#").site-btn.reviews__btn-i
            span Оставить отзыв

    .consultation
      .consultation__inner.site-container.site-container--big
        .consultation__left
          .consultation__title Подберем программу реабилитации и поможем уговорить зависимого на лечение!
          .consultation__items
            .consultation__item.
              Каждое употребление может быть последним.
              Позвоните прямо сейчас или оставьте заявку,
              чтобы получить консультацию эксперта.
          .consultation__form
            form.site-form
              .site-form-row
                a(href='#').site-btn.form__phone
                  span <strong>8 800 600 39 60</strong>
              .site-form-row
                .site-form__input
                  input(type='text' placeholder="+7 ___ ___ __ __" data-valid="phone")
              .site-form-row
                a(href="#").site-btn.form__btn
                  span Получить консультацию
          .consultation__bottom Круглосуточная горячая линия
        .consultation__right
          .consultation__right-img.webp-img.b-lazy(data-webp="./img/form-img02.webp" data-img="./img/form-img02.jpg")

    .our-services
      .our-services__inner.site-container
        .our-services__title.site-title Наши услуги
        .our-services__content.site-container__inner
          .our-services__item
            a(href="#").our-services__link Снятие ломки
          .our-services__item
            a(href="#").our-services__link Детокс
          .our-services__item
            a(href="#").our-services__link Лечение наркомании
          .our-services__item
            a(href="#").our-services__link Солевая зависимость
          .our-services__item
            a(href="#").our-services__link Лечение Алкоголизма
          .our-services__item
            a(href="#").our-services__link Выведение из запоя
          .our-services__item
            a(href="#").our-services__link Врач нарколог
          .our-services__item
            a(href="#").our-services__link Кодирование
          .our-services__item
            a(href="#").our-services__link Амбулаторное лечение
          .our-services__item
            a(href="#").our-services__link Ресоциализация
          .our-services__item
            a(href="#").our-services__link Игровая зависимость
          .our-services__item
            a(href="#").our-services__link Адвокатская помощь
          .our-services__item
            a(href="#").our-services__link Консультация нарколога
          .our-services__item
            a(href="#").our-services__link Консультация психолога
          .our-services__item
            a(href="#").our-services__link Дополнительно

    .calculator
      .calculator__inner.site-container
        .calculator__title.site-title
          span
        .calculator__content
          form
            .calculator__left
              .calculator__item
                lable.calculator__lable Кому нужна помощь?
                select.calculator__select
                  option Выбрать
              .calculator__item
                lable.calculator__lable Услуги
                select.calculator__select
                  option Выбрать
              .calculator__item
                lable.calculator__lable Сколько лет зависимому?
                select.calculator__select
                  option Выбрать
              .calculator__item
                lable.calculator__lable Длительность употребления
                select.calculator__select
                  option Выбрать
              .calculator__item
                lable.calculator__lable Регион
                select.calculator__select
                  option Выбрать
              .calculator__item
                a(href="#").calculator__btn Посчитать
            .calculator__right
              .calculator__price
                .calculator__price-title Итог:
                .calculator__price-count
                  span 0
                  span ₽


    .support
      .support__inner.site-container
        .support__left
          img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/support02.png").b-lazy
        .support__right
          .support__title Доступен экстренный вызов
          .support__subtitle Скорая помощь и транспортировка до клиники
          a(href="tel:88006003960").support__phone 8 800 600 39 60
          .support__subtitle  Круглосуточная горячая линия
          a(href="#").site-btn.support__btn
            span Вызвать

    .stages
      .stages__inner.site-container.site-container--big
        .stages__title.site-title Этапы лечения от зависимости
        .stages__items
          .stages__item
            .stages__img
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/etap01.svg" alt="img").b-lazy
            .stages__name 1. Прекращение употребления
            .stages__txt
              p.
                Первый этап избавления от привыкания к любому веществу – прекращение его употребления. Это может быть сделано самостоятельно или же обратившись к наркологу из государственного или частного учреждения.
              p.
                Лечение ломки каждого наркотика изучено, и есть проверенные способы облегчить ее течение. Базовая процедура детоксикации (выведения токсического вещества из организма) – капельница. Она необходима, чтобы очистить кровь от токсического вещества. Для каждого вещества существуют разные способы лечения.
          .stages__item
            .stages__img
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/etap02.svg" alt="img").b-lazy
            .stages__name 2. Поддерживающее лечение
            .stages__txt
              p.
                На этом этапе тело наркомана полностью очистилось от наркотика, и его физическое состояние находится в норме. Однако, нейромедиаторы или рецепторы, на которые воздействовал наркотик, не восстанавливаются за несколько дней. Процесс их восстановления в некоторых случаях может занять от нескольких месяцев до года.
              p.
                В зависимости от вещества человеку на этом этапе прописывают медикаменты, помогающие ему справиться с симптомами неправильной работы рецепторов и нейромедиаторов. Также, в этот период человек испытывает сильную тягу к наркотику, поэтому на втором этапе лечения рекомендуется подключить один из видов психотерапии.
          .stages__item
            .stages__img
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/etap03.svg" alt="img").b-lazy
            .stages__name 3. Ремиссия и ресоциализация
            .stages__txt
              p.
                Наркоман уже поборол тягу к веществу и не употребляет его от месяца или более. Главная помощь здесь – возвращение человека к нормальной жизни. Человеку нужно найти работу и хобби, наладить условия жизни и отношения с близкими.



    .support
      .support__inner.site-container.site-container__inner
        .support__left
          img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/support01.png").b-lazy
        .support__right
          .support__title Поддержка родственников
          .support__subtitle Группы и психологи
          a(href="tel:88006003960").support__phone 8 800 600 39 60
          .support__subtitle  Круглосуточная горячая линия
          a(href="#").site-btn.support__btn
            span Вызвать


    .consultation
      .consultation__inner.site-container.site-container--big
        .consultation__left
          .consultation__title Лечение наркомании в реабилитационном центре
          .consultation__items
            .consultation__item Когнитивно-поведенческая терапия.
            .consultation__item Терапия ситуационного воздействия.
            .consultation__item Семейная поведенческая психотерапия.
            .consultation__item Система 12 шагов
          .consultation__form
            form.site-form
              .site-form-row
                a(href='#').site-btn.form__phone
                  span <strong>8 800 600 39 60</strong>
              .site-form-row
                .site-form__input
                  input(type='text' placeholder="+7 ___ ___ __ __" data-valid="phone")
              .site-form-row
                a(href="#").site-btn.form__btn
                  span Получить консультацию
          .consultation__bottom Круглосуточная горячая линия
        .consultation__right
          .consultation__right-img.webp-img.b-lazy(data-webp="./img/form-img01.webp" data-img="./img/form-img01.jpg")


    .additional
      .additional__inner.site-container
        .site-title.additional__title Дополнительно
        .additional__block.site-container__inner.webp-img.b-lazy(data-webp="./img/grey-wave-bg.webp" data-img="./img/grey-wave-bg.png")
          .additional__item
            a(href="#").additional__link О наркомании
          .additional__item
            a(href="#").additional__link Особенности лечения от разных веществ
          .additional__item
            a(href="#").additional__link Участие государства
          .additional__item
            a(href="#").additional__link Социальное лечение наркозависимых
          .additional__item
            a(href="#").additional__link Лечение наркозависимости у подростков
          .additional__item
            a(href="#").additional__link Лечение зависимости от психостимуляторов
          .additional__item
            a(href="#").additional__link Лечение за рубежом
          .additional__item
            a(href="#").additional__link Дополнительно

