extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "homepage loadpage";
  - var pageActive = "homepage";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    <picture>
      <source srcset="./img/awesomeWebPImage.webp" type="image/webp">
      <source srcset="./img/creakyOldJPEG.jpg" type="image/jpeg">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Alt Text!">
    </picture>

  div.main-wrap
    .top-bunner.webp-img.b-lazy(data-webp="./img/top-bunner01.webp" data-img="./img/top-bunner01.jpg")
      .top-bunner__inner.site-container
        .top-bunner__form
          .top-bunner__title Лечение <br> наркомании и алкоголизма <br> в Москве
          .top-bunner__caption ВЕРНИТЕ ПОКОЙ И РАДОСТЬ В ВАШ ДОМ
          form.site-form
            .site-form__row
              .site-form__input
                input(type='tel' inputmode="numeric" placeholder="+7 ___ ___ __ __" data-valid="phone")
            .site-form__row
              a(href="#").top-bunner__btn.site-btn
                span Получить консультацию

    .service-type.webp-img.b-lazy(data-webp="./img/grey-wave-bg.webp" data-img="./img/grey-wave-bg.png")
      .service-type__inner.site-container
        .service-type__title.site-title Наши услуги
        .service-type__items#service-type-slider
          .service-type__item-wrap
            .service-type__item
              .service-type__img
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/our-services01.jpg" alt="img").b-lazy
              .service-type__subtitle ЛЕЧЕНИЕ  НАРКОМАНИИ
              .service-type__name Реабилитация
              .service-type__txt Лучшие центры вашего региона
              .service-type__name Детоксикация
              .service-type__txt Лечение в клинике
              .service-type__name Программы лечения
              .service-type__txt Индивидуальный подход оказания услуг
              .service-type__name Солевая зависимость
              .service-type__txt Самый опасный вид наркомании
              .service-type__name Снятие ломки
              .service-type__txt На дому или в стационаре
              .service-type__name УБОД
              .service-type__txt Без стресса для организма
            a(href="#").service-type__item-btn.site-btn
              span Получить  консультацию
          .service-type__item-wrap
            .service-type__item
              .service-type__img
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/our-services02.jpg" alt="img").b-lazy
              .service-type__subtitle ЛЕЧЕНИЕ АЛКОГОЛИЗМА
              .service-type__name Реабилитация
              .service-type__txt Лучшие центры вашего региона
              .service-type__name Детоксикация
              .service-type__txt Лечение в клинике
              .service-type__name Программы лечения
              .service-type__txt Индивидуальный подход оказания услуг
              .service-type__name Вывод из запоя
              .service-type__txt На дому или в стационаре
              .service-type__name Нарколог на дом
              .service-type__txt Анонимный вызов 24/7
              .service-type__name Кодирование
              .service-type__txt Индивидуальный полход оказания услуг
            a(href="#").service-type__item-btn.site-btn
              span Получить  консультацию
          .service-type__item-wrap
            .service-type__item
              .service-type__img
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/our-services02.jpg" alt="img").b-lazy
              .service-type__subtitle ДРУГИЕ УСЛУГИ ДЛЯ ЗАВИСИМЫХ
              .service-type__name Амбулаторное лечение
              .service-type__txt Постоянное наблюдение
              .service-type__name Ресоциализация
              .service-type__txt Возвращение к нормальной жизни
              .service-type__name Лечение за границей
              .service-type__txt В Таиланде или Доминикане
              .service-type__name VIP лечение
              .service-type__txt Дополнительные условия комфорта
              .service-type__name Игровая зависимость
              .service-type__txt Интернет, онлайн казино и др.
              .service-type__name Адвокатская помощь
              .service-type__txt По статье 228
            a(href="#").service-type__item-btn.site-btn
              span Получить  консультацию


    .consultation.consultation--reverse
      .consultation__inner.site-container
        .consultation__left
          .consultation__title Современные солевые наркотики убивают за 1 год
          .consultation__items
            .consultation__item.
              Каждое употребление может быть последним.
              Позвоните прямо сейчас или оставьте заявку,
              чтобы получить консультацию эксперта.
          .consultation__form
            form.site-form
              .site-form-row
                a(href='tel:88006003960').site-link-phone.form__phone
                  span <strong>8 800 600 39 60</strong>
              .site-form-row
                .site-form__input
                  input(type='tel' inputmode="numeric" placeholder="+7 ___ ___ __ __" data-valid="phone")
              .site-form-row
                a(href="#").site-btn.form__btn
                  span Получить консультацию
          .consultation__bottom Круглосуточная горячая линия
        .consultation__right
          img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/form-img03.png" alt="img").b-lazy

    .steps
      .steps__inner.site-container
        .steps__items
          .steps__item
            .steps__content
              .steps__num
                span 1
              .steps__title Бесплатная консультация
              .steps__txt
                p Анонимная консультация наших специалистов.
                p Поможем составить вам оптимальный план лечения.
          .steps__item
            .steps__content
              .steps__num
                span 2
              .steps__title Вызов нарколога на дом
              .steps__txt
                p «Снятие острых состояний» и психологическая помощь, транспортировка до клиники.
                p Капельницы, снятие ломки, мотивация на лечение.
          .steps__item
            .steps__content
              .steps__num
                span 3
              .steps__title Детоксикация в клинике
              .steps__txt
                p Клиника помогает восстановиться физически за короткие сроки, снять острое состояние.
                p Круглосуточный контроль врачей. Этап, предваряющий реабилитацию.
          .steps__item
            .steps__content
              .steps__num
                span 4
              .steps__title Реабилитационный центр
              .steps__txt
                p Лечение направлено на восстановление личности, усвоение новых привычек и ЗОЖ.
                p Адаптация и возврат к нормальной социальной жизни.
          .steps__item
            .steps__content
              .steps__num
                span 5
              .steps__title Ресоциализация
              .steps__txt
                p Работа с психологами и психиаторами с целью получать положительные эмоции без психоактивных препаратов.
                p Подготовка к возвращению в трудовой коллектив.
          .steps__item
            .steps__content
              .steps__num
                span 6
              .steps__title Амбулаторное лечение
              .steps__txt
                p Во время лечения важно не отказываться от помощи врачей при первых признаках выздоровления.
                p Лечение необходимо для закрепления полученных положительных результатов.

    .starting
      .starting__inner.site-container
        .starting__title.site-title Как начать лечение?
        .starting__items
          .starting__item
            .starting__img
              include ../img/ico/starting3.svg
            .starting__name Бесплатная <br> консультация
          .starting__item
            .starting__img
              include ../img/ico/starting2.svg
            .starting__name Подбор услуги <br> и программы
          .starting__item
            .starting__img
              include ../img/ico/starting1.svg
            .starting__name Начало лечения <br> и восстановления
        a(href="tel:88006003960").starting__phone 8 800 600 39 60
        .starting__caption Круглосуточная горячая линия
        a(href="#").starting__btn.site-btn
          span Записаться сейчас

    .small-price.webp-img.b-lazy(data-webp="./img/grey-wave-bg.webp" data-img="./img/grey-wave-bg.png")
      .small-price__inner.site-container.site-container--big
        .small-price__title.site-title Почему нельзя соглашаться на самые низкие цены?
        .small-price__items
          .small-price__item
            .small-price__img
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/small-price01.svg" alt="img").b-lazy
            .small-price__info
              .small-price__subtitle Условия проживания
              .small-price__caption Ужасные условия:  Полузаброшенные дома без ремонта.
              .small-price__txt Мы подберем: <br> Центр с благоприятными условиями, регулярной уборкой и возможностью проведения досуга, которое понравится именно вам!
              a(href="#").site-btn.small-price__btn
                span Все центры
          .small-price__item
            .small-price__img
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/small-price02.svg" alt="img").b-lazy
            .small-price__info
              .small-price__subtitle Программа лечения
              .small-price__caption Отсутствие цельной программы лечения.
              .small-price__txt Мы подберем: <br> Наши партнеры-клиники проводят бесплатную диагностику для выявления всех существующих проблем. А также помогают с трудоустройством, после прохождения лечения.
              a(href="#").site-btn.small-price__btn
                span Программа лечения
          .small-price__item
            .small-price__img
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/small-price03.svg" alt="img").b-lazy
            .small-price__info
              .small-price__subtitle Персонал и юристы
              .small-price__caption Отсутствие опыт у медперсонала и отсутствие юридической помощи.
              .small-price__txt Мы подберем: <br> Центр с медперсоналом имеющим высшее профильное образование. А также предоставление адвоката,если у вас проблемы с законом.
              a(href="#").site-btn.small-price__btn
                span Адвокатская помощь
          .small-price__item
            .small-price__img
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/small-price04.svg" alt="img").b-lazy
            .small-price__info
              .small-price__subtitle Работа с родными
              .small-price__caption Родственники остаются без поддержки наедине с проблемами.
              .small-price__txt Мы подберем: <br> Центр у которого работа с родственниками входит в программу лечения. Вы получите 2 программы по цене одной!
              a(href="#").site-btn.small-price__btn
                span Работа с созависимыми


    .reabilitation
      .reabilitation__inner.site-container
        .reabilitation__title.site-title Лучшие предложения реабилитации
        .reabilitation__items#reabilitation-slider
          .reabilitation__item
            .reabilitation__content
              .reabilitation__img
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/reabilitation01.jpg" alt="img").b-lazy
              .reabilitation__desc
                .reabilitation__subtitle Стандарт
                .reabilitation__caption Курс лечения длится 3 - 6 месяцев. <br> Возможна индивидуальная программа.
                ul.reabilitation__list
                  li Сертифицированная программа
                  li Квалифицированный персонал
                  li Индивидуальный подход в лечении
                  li Комплексная программа детоксикации
                  li Условия для спортивных занятий
                  li Психотерапевтическая реабилитация
                  li Наличие досуга
                  li Контроль и регулярная отчетность
                  li Реанимации для экстренных случаев
                  li Взаимодействие с семьей зависимого
                .reabilitation__example
                  a(href="#") Пример меню
                  a(href="#") Пример расписания дня
                .reabilitation__price
                  .reabilitation__price-title Цена за месяц от
                  a(href="#").site-btn.reabilitation__price-btn
                    span 40 000 ₽
          .reabilitation__item
            .reabilitation__content
              .reabilitation__img
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/reabilitation02.jpg" alt="img").b-lazy
              .reabilitation__desc
                .reabilitation__subtitle Комфорт
                .reabilitation__caption Курс лечения длится 3 - 6 месяцев. <br> Возможна индивидуальная программа.
                ul.reabilitation__list
                  li Все услуги курса “Стандарт” <br>
                    span Дополнительно:
                  li Собственного трансфер
                  li Улучшенные условия проживания
                  li Дополнительные процедуры и индивидуальные занятия
                  li Спортзал в центре
                  li Расширенная досуговая программа
                .reabilitation__example
                  a(href="#") Пример меню
                  a(href="#") Пример расписания дня
                .reabilitation__price
                  .reabilitation__price-title Цена за месяц от
                  a(href="#").site-btn.reabilitation__price-btn
                    span 60 000 ₽
          .reabilitation__item
            .reabilitation__content
              .reabilitation__img
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/reabilitation03.jpg" alt="img").b-lazy
              .reabilitation__desc
                .reabilitation__subtitle VIP
                .reabilitation__caption Курс лечения длится 3 - 6 месяцев. <br> Возможна индивидуальная программа.
                ul.reabilitation__list
                  li Все услуги курса “Комфорт”<br>
                    span Дополнительно:
                  li Комната на 2-3 места
                  li Полная анонимность
                  li Возможность выбора меню
                  li Доп. физиопроцедуры
                  li Персональный куратор
                  li Наличие бассейна
                  li Возможность замены групповых занятий на индивидуальные
                .reabilitation__example
                  a(href="#") Пример меню
                  a(href="#") Пример расписания дня
                .reabilitation__price
                  .reabilitation__price-title Цена за месяц от
                  a(href="#").site-btn.reabilitation__price-btn
                    span 150 000 ₽

    .reviews
      .reviews__inner.site-container
        .reviews__title.site-title Отзывы
        .reviews__items#reviews-slider
          .reviews__item
            .reviews__content
              .reviews__stars
              .reviews__name Janna Emelanceva
              .reviews__caption Спасибо центру за помощь нашей семье! Прошли все 12 шагов, алкоголь теперь для мужа забыт, как страшный сон.
              .reviews__txt Во многом помогла творческая реабилитация, муж ушел целиком в музыку, играет на гитаре и пишет песни! Не может нарадоваться. Спасибо специалистам за поддержку, за то, что дали надежду и спасение!
              .reviews__date 14.02.2019
          .reviews__item
            .reviews__content
              .reviews__stars
              .reviews__name Руслан, 29 лет
              .reviews__caption Полтора года назад моя любимая жена родила доченьку — мы мечтали об этом, и мечта исполнилась!
              .reviews__txt Но как я мог признаться ей, что употребляю наркотики? Но ради неё я решил измениться. Сказал, что нужно срочно улететь в командировку на пару месяцев, благо с моей работой это было вполне нормально...
              .reviews__date 27.03.2019
          .reviews__item
            .reviews__content
              .reviews__stars
              .reviews__name Alexander Petrovich
              .reviews__caption Здравствуйте меня зовут Александр, я проходил курс в реабилитационном центре.
              .reviews__txt Я остался очень доволен условиями проживания а также очень доволен квалифицированной помощью оказанной мне специалистами организации!
              .reviews__date 04.08.2019
        .reviews__btn
          a(href="#").site-btn.reviews__btn-i
            span Оставить отзыв

    .consultation
      .consultation__inner.site-container.site-container--big
        .consultation__left
          .consultation__title Подберем программу реабилитации и поможем уговорить зависимого на лечение!
          .consultation__items
            .consultation__item.
              Каждое употребление может быть последним.
              Позвоните прямо сейчас или оставьте заявку,
              чтобы получить консультацию эксперта.
          .consultation__form
            form.site-form
              .site-form-row
                a(href='tel:88006003960').site-link-phone.form__phone
                  span <strong>8 800 600 39 60</strong>
              .site-form-row
                .site-form__input
                  input(type='tel' inputmode="numeric" placeholder="+7 ___ ___ __ __" data-valid="phone")
              .site-form-row
                a(href="#").site-btn.form__btn
                  span Получить консультацию
          .consultation__bottom Круглосуточная горячая линия
        .consultation__right
          .consultation__right-img.webp-img.b-lazy(data-webp="./img/form-img02.webp" data-img="./img/form-img02.jpg")

    .our-services
      .our-services__inner.site-container
        .our-services__title.site-title Наши услуги
        .our-services__content.site-container__inner
          .our-services__item
            a(href="#").our-services__link Снятие ломки
          .our-services__item
            a(href="#").our-services__link Детокс
          .our-services__item
            a(href="#").our-services__link Лечение наркомании
          .our-services__item
            a(href="#").our-services__link Солевая зависимость
          .our-services__item
            a(href="#").our-services__link Лечение Алкоголизма
          .our-services__item
            a(href="#").our-services__link Выведение из запоя
          .our-services__item
            a(href="#").our-services__link Врач нарколог
          .our-services__item
            a(href="#").our-services__link Кодирование
          .our-services__item
            a(href="#").our-services__link Амбулаторное лечение
          .our-services__item
            a(href="#").our-services__link Ресоциализация
          .our-services__item
            a(href="#").our-services__link Игровая зависимость
          .our-services__item
            a(href="#").our-services__link Адвокатская помощь
          .our-services__item
            a(href="#").our-services__link Консультация нарколога
          .our-services__item
            a(href="#").our-services__link Консультация психолога
          .our-services__item
            a(href="#").our-services__link Дополнительно

    .calculator.webp-img.b-lazy(data-webp="./img/grey-wave-bg.webp" data-img="./img/grey-wave-bg.png")
      .calculator__inner.site-container
        .calculator__title.site-title Калькулятор
          span Рассчитайте стоимость вызова
        .calculator__content
          form
            .calculator__left
              .calculator__item
                span.calculator__lable Кому нужна помощь?
                select.calculator__select
                  option Выбрать
                  option Выбрать
                  option Выбрать
              .calculator__item
                span.calculator__lable Услуги
                select.calculator__select
                  option Выбрать
              .calculator__item
                span.calculator__lable Сколько лет зависимому?
                select.calculator__select
                  option Выбрать
              .calculator__item
                span.calculator__lable Длительность употребления
                select.calculator__select
                  option Выбрать
              .calculator__item
                span.calculator__lable Регион
                select.calculator__select
                  option Выбрать
              .calculator__item
                a(href="#").calculator__btn.site-btn
                  span Посчитать
            .calculator__right
              .calculator__price
                .calculator__price-title Итог:
                .calculator__price-count
                  span 0
                  span ₽


    .support
      .support__inner.site-container
        .support__left
          img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/support02.png" alt="img").b-lazy
        .support__right
          .support__title Доступен экстренный вызов
          .support__subtitle Скорая помощь и транспортировка до клиники
          a(href="tel:88006003960").support__phone 8 800 600 39 60
          .support__subtitle  Круглосуточная горячая линия
          a(href="#").site-btn.support__btn
            span Вызвать

    .stages
      .stages__inner.site-container.site-container--big
        .stages__title.site-title Этапы лечения от зависимости
        .stages__items#etap-slider
          .stages__item
            .stages__img
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/etap01.svg" alt="img").b-lazy
            .stages__name 1. Прекращение употребления
            .stages__txt
              p.
                Первый этап избавления от привыкания к любому веществу – прекращение его употребления. Это может быть сделано самостоятельно или же обратившись к наркологу из государственного или частного учреждения.
              p.
                Лечение ломки каждого наркотика изучено, и есть проверенные способы облегчить ее течение. Базовая процедура детоксикации (выведения токсического вещества из организма) – капельница. Она необходима, чтобы очистить кровь от токсического вещества. Для каждого вещества существуют разные способы лечения.
          .stages__item
            .stages__img
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/etap02.svg" alt="img").b-lazy
            .stages__name 2. Поддерживающее лечение
            .stages__txt
              p.
                На этом этапе тело наркомана полностью очистилось от наркотика, и его физическое состояние находится в норме. Однако, нейромедиаторы или рецепторы, на которые воздействовал наркотик, не восстанавливаются за несколько дней. Процесс их восстановления в некоторых случаях может занять от нескольких месяцев до года.
              p.
                В зависимости от вещества человеку на этом этапе прописывают медикаменты, помогающие ему справиться с симптомами неправильной работы рецепторов и нейромедиаторов. Также, в этот период человек испытывает сильную тягу к наркотику, поэтому на втором этапе лечения рекомендуется подключить один из видов психотерапии.
          .stages__item
            .stages__img
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/etap03.svg" alt="img").b-lazy
            .stages__name 3. Ремиссия и ресоциализация
            .stages__txt
              p.
                Наркоман уже поборол тягу к веществу и не употребляет его от месяца или более. Главная помощь здесь – возвращение человека к нормальной жизни. Человеку нужно найти работу и хобби, наладить условия жизни и отношения с близкими.



    .support
      .support__inner.site-container.site-container__inner
        .support__left
          img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/support01.png" alt="img").b-lazy
        .support__right
          .support__title Поддержка родственников
          .support__subtitle Группы и психологи
          a(href="tel:88006003960").support__phone 8 800 600 39 60
          .support__subtitle  Круглосуточная горячая линия
          a(href="#").site-btn.support__btn
            span Вызвать


    .consultation
      .consultation__inner.site-container.site-container--big
        .consultation__left
          .consultation__title Лечение наркомании в реабилитационном центре
          .consultation__items
            .consultation__item Когнитивно-поведенческая терапия.
            .consultation__item Терапия ситуационного воздействия.
            .consultation__item Семейная поведенческая психотерапия.
            .consultation__item Система 12 шагов
          .consultation__form
            form.site-form
              .site-form-row
                a(href='tel:88006003960').site-link-phone.form__phone
                  span <strong>8 800 600 39 60</strong>
              .site-form-row
                .site-form__input
                  input(type='tel' inputmode="numeric" placeholder="+7 ___ ___ __ __" data-valid="phone")
              .site-form-row
                a(href="#").site-btn.form__btn
                  span Получить консультацию
          .consultation__bottom Круглосуточная горячая линия
        .consultation__right
          .consultation__right-img.webp-img.b-lazy(data-webp="./img/form-img01.webp" data-img="./img/form-img01.jpg")


    .additional
      .additional__inner.site-container
        .site-title.additional__title Дополнительно
        .additional__block.site-container__inner.webp-img.b-lazy(data-webp="./img/grey-wave-bg.webp" data-img="./img/grey-wave-bg.png")
          .additional__item
            a(href="#").additional__link О наркомании
          .additional__item
            a(href="#").additional__link Особенности лечения от разных веществ
          .additional__item
            a(href="#").additional__link Участие государства
          .additional__item
            a(href="#").additional__link Социальное лечение наркозависимых
          .additional__item
            a(href="#").additional__link Лечение наркозависимости у подростков
          .additional__item
            a(href="#").additional__link Лечение зависимости от психостимуляторов
          .additional__item
            a(href="#").additional__link Лечение за рубежом
          .additional__item
            a(href="#").additional__link Дополнительно

