extends _layout

block vars
	- var pageTitle = "Index page";
	- var pageClass = "indexpage";

block content

	div.main-wrap
		div.prevpage(style="margin: 0 auto; height: 100vh; display: flex; justify-content: center; color: black; flex-direction: column; align-items: center;")
			a(href="./index1.html" target="_blank" style="font-size: 18px;") Home
			a(href="./service.html" target="_blank" style="font-size: 18px;") service
