extends _layout

block vars
  - var pageTitle = "Service page";
  - var pageClass = "pageservice";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    <picture>
      <source srcset="./img/awesomeWebPImage.webp" type="image/webp">
      <source srcset="./img/creakyOldJPEG.jpg" type="image/jpeg">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Alt Text!">
    </picture>

  div.main-wrap
    .top-bunner.top-bunner--stars.webp-img.b-lazy(data-webp="./img/top-bunner02.webp" data-img="./img/top-bunner02.jpg")
      .top-bunner__inner.site-container
        .top-bunner__form
          .top-bunner__title Вывод из запоя в <br> стационаре в Москве
          .top-bunner__caption Гарантированная помощь
          form.site-form
            .site-form__row
              .site-form__input
                input(type='text' placeholder="+7 ___ ___ __ __" data-valid="phone")
            .site-form__row
              a(href="#").top-bunner__btn.site-btn
                span Вызвать врача
          .top-bunner__stars
            .top-bunner__stars-i Анонимно
            .top-bunner__stars-i Бесплатно
            .top-bunner__stars-i Круглосуточно

    .reabilitation
      .reabilitation__inner.site-container
        .reabilitation__items
          .reabilitation__item
            .reabilitation__content
              .reabilitation__img
                include ../img/ico/dropper01.svg
              .reabilitation__desc
                .reabilitation__subtitle Капельница “Лайт”
                .reabilitation__caption Курс лечения 1 час <br> 1 капельница на 150 мл
                .reabilitation__txt Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum
                .reabilitation__price
                  a(href="#").site-btn.reabilitation__price-btn
                    span 2 500 ₽
          .reabilitation__item
            .reabilitation__content
              .reabilitation__img
                include ../img/ico/dropper02.svg
              .reabilitation__desc
                .reabilitation__subtitle Капельница “Усиленная”
                .reabilitation__caption Курс лечения 3 часа <br> 1 капельница на 150 мл
                .reabilitation__txt Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum
                .reabilitation__price
                  a(href="#").site-btn.reabilitation__price-btn
                    span 4 500 ₽
          .reabilitation__item
            .reabilitation__content
              .reabilitation__img
                include ../img/ico/dropper03.svg
              .reabilitation__desc
                .reabilitation__subtitle Глубокое очищение
                .reabilitation__caption Курс лечения 3 дня <br> Лечение в стационаре
                .reabilitation__txt Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum
                .reabilitation__price
                  a(href="#").site-btn.reabilitation__price-btn
                    span 7 000 ₽

    .our-services
      .our-services__inner.site-container
        .our-services__title.site-title Наши услуги
        .our-services__content.site-container__inner
          .our-services__item
            a(href="#").our-services__link Снятие ломки
          .our-services__item
            a(href="#").our-services__link Детокс
          .our-services__item
            a(href="#").our-services__link Лечение наркомании
          .our-services__item
            a(href="#").our-services__link Солевая зависимость
          .our-services__item
            a(href="#").our-services__link Лечение Алкоголизма
          .our-services__item
            a(href="#").our-services__link Выведение из запоя
          .our-services__item
            a(href="#").our-services__link Врач нарколог
          .our-services__item
            a(href="#").our-services__link Кодирование
          .our-services__item
            a(href="#").our-services__link Амбулаторное лечение
          .our-services__item
            a(href="#").our-services__link Ресоциализация
          .our-services__item
            a(href="#").our-services__link Игровая зависимость
          .our-services__item
            a(href="#").our-services__link Адвокатская помощь
          .our-services__item
            a(href="#").our-services__link Консультация нарколога
          .our-services__item
            a(href="#").our-services__link Консультация психолога
          .our-services__item
            a(href="#").our-services__link Дополнительно

    .license
      .license__inner.site-container.site-container--big
        .license__title.site-title Лицензированные клиники - партнеры
        .license__list#licen-slider
          .license__item
            a(href="./img/license01.jpg").license__link
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/license01.jpg" alt="img").b-lazy.license__img
          .license__item
            a(href="./img/license02.jpg").license__link
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/license02.jpg" alt="img").b-lazy.license__img
          .license__item
            a(href="./img/license03.jpg").license__link
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/license03.jpg" alt="img").b-lazy.license__img
          .license__item
            a(href="./img/license04.jpg").license__link
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/license04.jpg" alt="img").b-lazy.license__img

    .txt-block.webp-img.b-lazy(data-webp="./img/grey-wave-bg.webp" data-img="./img/grey-wave-bg.png")
      .txt-block__inner.site-container
        .txt-block__title.site-title Процесс устранения запоев в стационаре
        .txt-block__content.site-container__inner
          p.
            Алкоголизм – хроническое прогрессирующее заболевание с опасными рецидивами. Одним из часто встречающихся симптомов является состояние запоя. Оно характеризуется потреблением спиртных напитков более одного дня. При этом в результате прекращения приема алкоголя проявляется абстинентный синдром, и человек испытывает различные болезненные ощущения. Они могут быть настолько тяжелыми, что возможны случаи смертельного исхода. Грамотное и безопасное выведение из запоя – важный этап лечения алкоголизма.
          p.
            Процедуру вывода из абстинентного синдрома проводят в клинике и на дому. Стационарная помощь считается более надежной и эффективной. Бывают случаи, когда человек не может попасть в больницу, но врачебное вмешательство требуется неотложно. В таких ситуациях можно воспользоваться услугой экстренной наркологической помощи, которая работает круглосуточно. Нарколог либо бригада врачей приедет по назначенному адресу за кратчайший промежуток времени в любой район Москвы. При необходимости возможна транспортировка в медицинское учреждение.

    .steps
      .steps__inner.site-container
        .steps__items
          .steps__item
            .steps__content
              .steps__num
                span 1
              .steps__txt
                p Обследование и диагностика.
          .steps__item
            .steps__content
              .steps__num
                span 2
              .steps__txt
                p Назначение необходимых медикаментов и процедур.
          .steps__item
            .steps__content
              .steps__num
                span 3
              .steps__txt
                p Очищение организма от этанола и продуктов его распада посредством капельниц либо аппаратными методами.
          .steps__item
            .steps__content
              .steps__num
                span 4
              .steps__txt
                p Стабилизация психики седативными препаратами и транквилизаторами.
          .steps__item
            .steps__content
              .steps__num
                span 5
              .steps__txt
                p Купирование острой абстиненции обезболивающими и противовоспалительными средствами.
          .steps__item
            .steps__content
              .steps__num
                span 6
              .steps__txt
                p Восстановительная витаминная терапия.
          .steps__item
            .steps__content
              .steps__num
                span 7
              .steps__txt
                p Физиопроцедуры.
          .steps__item
            .steps__content
              .steps__num
                span 8
              .steps__txt
                p Возможность обращения к специалистам после окончания курса детоксикации.

    .solo-consultation
      .solo-consultation__inner.site-container
        .solo-consultation__content.site-container__inner
          .solo-consultation__absolute
            p.
              Уже в течение первого часа выведения из запоя больной чувствует облегчение. Квалифицированные врачи учитывают длительность употребления алкоголя, дозировку, сопутствующие заболевания, переносимость применяемых медикаментов, эмоциональное состояние и возраст пациента.
            p.
              В частных клиниках при выводе из запоя действует принцип конфиденциальности. Больного не ставят на учет, сведения не распространяются на место работы и в правоохранительные органы.
          .solo-consultation__title Консультация круглосуточно
          .solo-consultation__caption Звоните и вы успеете спасти своего близкого человека!
          a(href="tel:88006003960").solo-consultation__phone 8 800 600 39 60
          .solo-consultation__btn
            a(href="#").site-btn..solo-consultation__btn-i
              span Получить консультацию




