extends _layout

block vars
  - var pageTitle = "Service page";
  - var pageClass = "pageservice";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    <picture>
      <source srcset="./img/awesomeWebPImage.webp" type="image/webp">
      <source srcset="./img/creakyOldJPEG.jpg" type="image/jpeg">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Alt Text!">
    </picture>

  div.main-wrap
    .top-bunner.top-bunner--stars.webp-img.b-lazy(data-webp="./img/top-bunner02.webp" data-img="./img/top-bunner02.jpg")
      .top-bunner__inner.site-container
        .top-bunner__form
          .top-bunner__title Вывод из запоя в <br> стационаре в Москве
          .top-bunner__caption Гарантированная помощь
          form.site-form
            .site-form__row
              .site-form__input
                input(type='tel' inputmode="numeric" placeholder="+7 ___ ___ __ __" data-valid="phone")
            .site-form__row
              a(href="#").top-bunner__btn.site-btn
                span Вызвать врача
          .top-bunner__stars
            .top-bunner__stars-i Анонимно
            .top-bunner__stars-i Бесплатно
            .top-bunner__stars-i Круглосуточно

    .reabilitation.dropper
      .reabilitation__inner.site-container
        .reabilitation__items#dropper-slider
          .reabilitation__item
            .reabilitation__content
              .reabilitation__img
                include ../img/ico/dropper01.svg
              .reabilitation__desc
                .reabilitation__subtitle Капельница “Лайт”
                .reabilitation__caption Курс лечения 1 час <br> 1 капельница на 150 мл
                .reabilitation__txt Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum
                .reabilitation__price
                  a(href="#").site-btn.reabilitation__price-btn
                    span 2 500 ₽
          .reabilitation__item
            .reabilitation__content
              .reabilitation__img
                include ../img/ico/dropper02.svg
              .reabilitation__desc
                .reabilitation__subtitle Капельница “Усиленная”
                .reabilitation__caption Курс лечения 3 часа <br> 1 капельница на 150 мл
                .reabilitation__txt Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum
                .reabilitation__price
                  a(href="#").site-btn.reabilitation__price-btn
                    span 4 500 ₽
          .reabilitation__item
            .reabilitation__content
              .reabilitation__img
                include ../img/ico/dropper03.svg
              .reabilitation__desc
                .reabilitation__subtitle Глубокое очищение
                .reabilitation__caption Курс лечения 3 дня <br> Лечение в стационаре
                .reabilitation__txt Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum
                .reabilitation__price
                  a(href="#").site-btn.reabilitation__price-btn
                    span 7 000 ₽

    .our-services
      .our-services__inner.site-container
        .our-services__title.site-title Наши услуги
        .our-services__content.site-container__inner
          .our-services__item
            a(href="#").our-services__link Снятие ломки
          .our-services__item
            a(href="#").our-services__link Детокс
          .our-services__item
            a(href="#").our-services__link Лечение наркомании
          .our-services__item
            a(href="#").our-services__link Солевая зависимость
          .our-services__item
            a(href="#").our-services__link Лечение Алкоголизма
          .our-services__item
            a(href="#").our-services__link Выведение из запоя
          .our-services__item
            a(href="#").our-services__link Врач нарколог
          .our-services__item
            a(href="#").our-services__link Кодирование
          .our-services__item
            a(href="#").our-services__link Амбулаторное лечение
          .our-services__item
            a(href="#").our-services__link Ресоциализация
          .our-services__item
            a(href="#").our-services__link Игровая зависимость
          .our-services__item
            a(href="#").our-services__link Адвокатская помощь
          .our-services__item
            a(href="#").our-services__link Консультация нарколога
          .our-services__item
            a(href="#").our-services__link Консультация психолога
          .our-services__item
            a(href="#").our-services__link Дополнительно

    .license
      .license__inner.site-container.site-container--big
        .license__title.site-title Лицензированные клиники - партнеры
        .license__list#licen-slider
          .license__item
            a(href="./img/license01.jpg").license__link
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/license01.jpg" alt="img").b-lazy.license__img
          .license__item
            a(href="./img/license02.jpg").license__link
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/license02.jpg" alt="img").b-lazy.license__img
          .license__item
            a(href="./img/license03.jpg").license__link
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/license03.jpg" alt="img").b-lazy.license__img
          .license__item
            a(href="./img/license04.jpg").license__link
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/license04.jpg" alt="img").b-lazy.license__img

    .txt-block.webp-img.b-lazy(data-webp="./img/grey-wave-bg.webp" data-img="./img/grey-wave-bg.png")
      .txt-block__inner.site-container
        .txt-block__title.site-title Процесс устранения запоев в стационаре
        .txt-block__content.site-container__inner
          p.
            Алкоголизм – хроническое прогрессирующее заболевание с опасными рецидивами. Одним из часто встречающихся симптомов является состояние запоя. Оно характеризуется потреблением спиртных напитков более одного дня. При этом в результате прекращения приема алкоголя проявляется абстинентный синдром, и человек испытывает различные болезненные ощущения. Они могут быть настолько тяжелыми, что возможны случаи смертельного исхода. Грамотное и безопасное выведение из запоя – важный этап лечения алкоголизма.
          p.
            Процедуру вывода из абстинентного синдрома проводят в клинике и на дому. Стационарная помощь считается более надежной и эффективной. Бывают случаи, когда человек не может попасть в больницу, но врачебное вмешательство требуется неотложно. В таких ситуациях можно воспользоваться услугой экстренной наркологической помощи, которая работает круглосуточно. Нарколог либо бригада врачей приедет по назначенному адресу за кратчайший промежуток времени в любой район Москвы. При необходимости возможна транспортировка в медицинское учреждение.

    .steps
      .steps__inner.site-container
        .steps__items
          .steps__item
            .steps__content
              .steps__num
                span 1
              .steps__txt
                p Обследование и диагностика.
          .steps__item
            .steps__content
              .steps__num
                span 2
              .steps__txt
                p Назначение необходимых медикаментов и процедур.
          .steps__item
            .steps__content
              .steps__num
                span 3
              .steps__txt
                p Очищение организма от этанола и продуктов его распада посредством капельниц либо аппаратными методами.
          .steps__item
            .steps__content
              .steps__num
                span 4
              .steps__txt
                p Стабилизация психики седативными препаратами и транквилизаторами.
          .steps__item
            .steps__content
              .steps__num
                span 5
              .steps__txt
                p Купирование острой абстиненции обезболивающими и противовоспалительными средствами.
          .steps__item
            .steps__content
              .steps__num
                span 6
              .steps__txt
                p Восстановительная витаминная терапия.
          .steps__item
            .steps__content
              .steps__num
                span 7
              .steps__txt
                p Физиопроцедуры.
          .steps__item
            .steps__content
              .steps__num
                span 8
              .steps__txt
                p Возможность обращения к специалистам после окончания курса детоксикации.

    .solo-consultation
      .solo-consultation__inner.site-container
        .solo-consultation__content.site-container__inner
          .solo-consultation__img.webp-img.b-lazy(data-webp="./img/solo01.webp" data-img="./img/solo01.png")
          .solo-consultation__absolute.webp-img.b-lazy(data-webp="./img/grey-wave-bg.webp" data-img="./img/grey-wave-bg.png")
            p.
              Уже в течение первого часа выведения из запоя больной чувствует облегчение. Квалифицированные врачи учитывают длительность употребления алкоголя, дозировку, сопутствующие заболевания, переносимость применяемых медикаментов, эмоциональное состояние и возраст пациента.
            p.
              В частных клиниках при выводе из запоя действует принцип конфиденциальности. Больного не ставят на учет, сведения не распространяются на место работы и в правоохранительные органы.
          .solo-consultation__title Консультация круглосуточно
          .solo-consultation__caption Звоните и вы успеете спасти своего близкого человека!
          a(href="tel:88006003960").solo-consultation__phone 8 800 600 39 60
          .solo-consultation__btn
            a(href="#").site-btn.solo-consultation__btn-i
              span Получить консультацию

    .hospital.webp-img.b-lazy(data-webp="./img/grey-wave-bg.webp" data-img="./img/grey-wave-bg.png")
      .hospital__inner.site-container
        .hospital__title.site-title Преимущества стационара
        .hospital__content
          p.
            Процедура выведения из синдрома отмены – один из самых опасных этапов лечения алкогольной зависимости. При самостоятельных действиях либо наркологической помощи в домашних условиях возможны осложнения, которые сложно убрать без соответствующих лекарств и медоборудования.

          .hospital__list#hospital-slider
            .hospital__item
              .hospital__ico
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/hospital01.svg" alt="img").b-lazy.license__img
              .hospital__name Круглосуточное наблюдение за больным.
            .hospital__item
              .hospital__ico
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/hospital02.svg" alt="img").b-lazy.license__img
              .hospital__name Мгновенное реагирование при обострениях.
            .hospital__item
              .hospital__ico
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/hospital03.svg" alt="img").b-lazy.license__img
              .hospital__name Штат опытных наркологов, психиатров, реаниматологов и психологов.
            .hospital__item
              .hospital__ico
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/hospital04.svg" alt="img").b-lazy.license__img
              .hospital__name Наличие необходимых медикаментов и оборудования.
            .hospital__item
              .hospital__ico
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/hospital05.svg" alt="img").b-lazy.license__img
              .hospital__name Возможность обращения к врачам другого профиля.
            .hospital__item
              .hospital__ico
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/hospital06.svg" alt="img").b-lazy.license__img
              .hospital__name Обслуживающий медперсонал.
            .hospital__item
              .hospital__ico
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/hospital07.svg" alt="img").b-lazy.license__img
              .hospital__name Безопасность от проникновения на территорию больницы алкоголя и других психоактивных веществ.
            .hospital__item
              .hospital__ico
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/hospital08.svg" alt="img").b-lazy.license__img
              .hospital__name Комфортные бытовые условия.
            .hospital__item
              .hospital__ico
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/hospital09.svg" alt="img").b-lazy.license__img
              .hospital__name Сбалансированное питание.
          p.
            После детокса и нормализации физического состояния алкозависимым людям рекомендуется психологическая реабилитация. Также актуально посещение групп самопомощи и работа по программе «12 шагов» (сообщество Анонимных Алкоголиков).
          .hospital__bottom Подробные сведения о ценах, отзывах о методах лечения и адресах в Москве можно узнать у консультантов нашего сайта. Телефон инфолинии работает 24/7.

    .support
      .support__inner.site-container.site-container__inner
        .support__left
          img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/support03.png" alt="img").b-lazy
        .support__right
          .support__title Поддержка родственников
          .support__subtitle Группы и психологи
          a(href="tel:88006003960").support__phone 8 800 600 39 60
          .support__subtitle  Круглосуточная горячая линия
          a(href="#").site-btn.support__btn
            span Вызвать

    .when-call
      .when-call__inner.site-container
        .when-call__content
          .when-call__title
            span Когда необходимо вызвать врача?
          .when-call__txt При наличии одного или нескольких признаков срочно звоните нам и мы поможем:
          ul.when-call__list
            li
              a(href="#")
                span Длительное употребление алкоголя в больших количествах (свыше 3-х дней)
            li
              a(href="#")
                span Последствия для нервной системы пораженной длительным приемом алкоголя
            li
              a(href="#")
                span Агрессия впоследствии регулярного приема солей
            li
              a(href="#")
                span Депрессивные состояния, вызванные стрессом и пережи ваниями за зависимого человека


    .support.support--reverse
      .support__inner.site-container.site-container__inner
        .support__left
          img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/support02.png" alt="img").b-lazy
        .support__right
          .support__title Поддержка родственников
          .support__subtitle Группы и психологи
          a(href="tel:88006003960").support__phone 8 800 600 39 60
          .support__subtitle  Круглосуточная горячая линия
          a(href="#").site-btn.support__btn
            span Вызвать

    .treatment
      .treatment__inner.site-container
        .treatment__title.site-title Как проходит лечение зависимости?
        .treatment__content
          .treatment__list#treatment-slider
            .treatment__item
              .treatment__item-content
                .treatment__ico
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/treatment01.svg" alt="img").b-lazy.license__img
                .treatment__name 1. Мотивация
                .treatment__txt.
                  Консультация с нашими специалистами<br>
                  Рекомендации психолога<br>
                  Выезд специалиста
            .treatment__item
              .treatment__item-content
                .treatment__ico
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/treatment02.svg" alt="img").b-lazy.license__img
                .treatment__name 2. Детоксикация
                .treatment__txt.
                  Выезд врача на дом или лечение <br>
                  в стационаре <br>
                  Очищение организма <br>
                  Диагностика психиатра
            .treatment__item
              .treatment__item-content
                .treatment__ico
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/treatment03.svg" alt="img").b-lazy.license__img
                .treatment__name 3. Реабилитация
                .treatment__txt.
                  Социальная программа <br>
                  Стандартная программа <br>
                  Индивидуальная программа
            .treatment__item
              .treatment__item-content
                .treatment__ico
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/treatment04.svg" alt="img").b-lazy.license__img
                .treatment__name 4. Социальная адаптация
                .treatment__txt.
                  Профессиональное обучение <br>
                  Возможность трудоустройства <br>
                  Амбулаторное лечение <br>
                  Психологическая поддержка
            .treatment__item
              .treatment__item-content
                .treatment__ico
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/ico/treatment05.svg" alt="img").b-lazy.license__img
                .treatment__name 5. Поддержка родственников
                .treatment__txt.
                  Группы взаимопомощи <br>
                  Вебинары онлайн <br>
                  Индивидуальные консультации

    .support
      .support__inner.site-container.site-container__inner
        .support__left
          img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/support01.png" alt="img").b-lazy
        .support__right
          .support__title Поддержка родственников
          .support__subtitle Группы и психологи
          a(href="tel:88006003960").support__phone 8 800 600 39 60
          .support__subtitle  Круглосуточная горячая линия
          a(href="#").site-btn.support__btn
            span Вызвать

    .regions
      .regions__inner.site-container
        .regions__title.site-title Другие регионы
          span Регионы и города России
        .regions__content
          ul.regions__list
            li
              a(href="#") Астрахань
            li
              a(href="#") Волгоград
            li
              a(href="#") Екатеринбург
            li
              a(href="#") Калининград
            li
              a(href="#") Крым
            li
              a(href="#") Нижегородская область
            li
              a(href="#") Пермь


            li
              a(href="#") Белгород
            li
              a(href="#") Воронеж
            li
              a(href="#") Казань
            li
              a(href="#") Краснодарский край
            li
              a(href="#") Липецк
            li
              a(href="#") Новосибирск
            li
              a(href="#") Ростовская область


            li
              a(href="#") Брянск
            li
              a(href="#") Дагестан
            li
              a(href="#") Калмыкия
            li
              a(href="#") Красноярск
            li
              a(href="#") Нальчик
            li
              a(href="#") Омск
            li
              a(href="#") Все регионы

    .consultation
      .consultation__inner.site-container.site-container--big
        .consultation__left
          .consultation__title Звоните, и вы успеете спасти своего близкого человека!
          .consultation__items
            .consultation__item.
              Каждое употребление может быть последним.
              Позвоните прямо сейчас или оставьте заявку,
              чтобы получить консультацию эксперта.
          .consultation__form
            form.site-form
              .site-form-row
                a(href='tel:88006003960').site-link-phone.form__phone
                  span <strong>8 800 600 39 60</strong>
              .site-form-row
                .site-form__input
                  input(type='tel' inputmode="numeric" placeholder="+7 ___ ___ __ __" data-valid="phone")
              .site-form-row
                a(href="#").site-btn.form__btn
                  span Получить консультацию
          .consultation__bottom
            .top-bunner__stars
              .top-bunner__stars-i Анонимно
              .top-bunner__stars-i Бесплатно
              .top-bunner__stars-i Круглосуточно
        .consultation__right
          .consultation__right-img.webp-img.b-lazy(data-webp="./img/form-img04.webp" data-img="./img/form-img04.jpg")

    .calculator.webp-img.b-lazy(data-webp="./img/grey-wave-bg.webp" data-img="./img/grey-wave-bg.png")
      .calculator__inner.site-container
        .calculator__title.site-title Калькулятор
          span Рассчитайте стоимость вызова
        .calculator__content
          form
            .calculator__left
              .calculator__item
                span.calculator__lable Кому нужна помощь?
                select.calculator__select
                  option Выбрать
                  option Выбрать
                  option Выбрать
              .calculator__item
                span.calculator__lable Услуги
                select.calculator__select
                  option Выбрать
              .calculator__item
                span.calculator__lable Сколько лет зависимому?
                select.calculator__select
                  option Выбрать
              .calculator__item
                span.calculator__lable Длительность употребления
                select.calculator__select
                  option Выбрать
              .calculator__item
                span.calculator__lable Регион
                select.calculator__select
                  option Выбрать
              .calculator__item
                a(href="#").calculator__btn.site-btn
                  span Посчитать
            .calculator__right
              .calculator__price
                .calculator__price-title Итог:
                .calculator__price-count
                  span 0
                  span
                    // Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)
                    svg( version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 30.8 35', style='enable-background:new 0 0 30.8 35; width: 29px', xml:space='preserve')
                      style(type='text/css').
                        .st0 {
                          fill: #333333;
                        }
                      path.st0(d='M19.1,29.6H12V34H5.2v-4.4H0.7v-5.5h4.6v-1.7H0.7V17h4.6V1.3H18c2.5,0,4.6,0.4,6.5,1.3c1.9,0.9,3.3,2.1,4.3,3.8\
                      c1,1.6,1.5,3.5,1.5,5.6c0,3.2-1.1,5.8-3.3,7.7c-2.2,1.9-5.2,2.8-9.1,2.8H12v1.7h7.1V29.6z M12,17h5.8c3.8,0,5.7-1.7,5.7-5\
                      c0-1.6-0.5-2.8-1.4-3.8c-1-1-2.3-1.5-4-1.5H12V17z')


    .another-form
      .another-form__inner.site-container
        .another-form__title Хотите узнать все варианты стоимости услуг?
        .another-form__caption Свяжитесь со специалистом
        a(href="tel:88006003960").another-form__number 8 800 600 39 60
        .another-form__form
          form.site-form
            .site-form-row
              a(href='tel:88006003960').site-link-phone.form__phone
                span <strong>8 800 600 39 60</strong>
            .site-form-row
              .site-form__input
                input(type='tel' inputmode="numeric" placeholder="+7 ___ ___ __ __" data-valid="phone")
            .site-form-row
              a(href="#").site-btn.form__btn
                span Получить консультацию


    .reabilitation
      .reabilitation__inner.site-container
        .reabilitation__title.site-title Лучшие предложения реабилитации
        .reabilitation__items#reabilitation-slider
          .reabilitation__item
            .reabilitation__content
              .reabilitation__img
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/reabilitation01.jpg" alt="img").b-lazy
              .reabilitation__desc
                .reabilitation__subtitle Стандарт
                .reabilitation__caption Курс лечения длится 3 - 6 месяцев. <br> Возможна индивидуальная программа.
                ul.reabilitation__list
                  li Сертифицированная программа
                  li Квалифицированный персонал
                  li Индивидуальный подход в лечении
                  li Комплексная программа детоксикации
                  li Условия для спортивных занятий
                  li Психотерапевтическая реабилитация
                  li Наличие досуга
                  li Контроль и регулярная отчетность
                  li Реанимации для экстренных случаев
                  li Взаимодействие с семьей зависимого
                .reabilitation__example
                  a(href="#") Пример меню
                  a(href="#") Пример расписания дня
                .reabilitation__price
                  .reabilitation__price-title Цена за месяц от
                  a(href="#").site-btn.reabilitation__price-btn
                    span 40 000 ₽
          .reabilitation__item
            .reabilitation__content
              .reabilitation__img
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/reabilitation02.jpg" alt="img").b-lazy
              .reabilitation__desc
                .reabilitation__subtitle Комфорт
                .reabilitation__caption Курс лечения длится 3 - 6 месяцев. <br> Возможна индивидуальная программа.
                ul.reabilitation__list
                  li Все услуги курса “Стандарт” <br>
                    span Дополнительно:
                  li Собственного трансфер
                  li Улучшенные условия проживания
                  li Дополнительные процедуры и индивидуальные занятия
                  li Спортзал в центре
                  li Расширенная досуговая программа
                .reabilitation__example
                  a(href="#") Пример меню
                  a(href="#") Пример расписания дня
                .reabilitation__price
                  .reabilitation__price-title Цена за месяц от
                  a(href="#").site-btn.reabilitation__price-btn
                    span 60 000 ₽
          .reabilitation__item
            .reabilitation__content
              .reabilitation__img
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/reabilitation03.jpg" alt="img").b-lazy
              .reabilitation__desc
                .reabilitation__subtitle VIP
                .reabilitation__caption Курс лечения длится 3 - 6 месяцев. <br> Возможна индивидуальная программа.
                ul.reabilitation__list
                  li Все услуги курса “Комфорт”<br>
                    span Дополнительно:
                  li Комната на 2-3 места
                  li Полная анонимность
                  li Возможность выбора меню
                  li Доп. физиопроцедуры
                  li Персональный куратор
                  li Наличие бассейна
                  li Возможность замены групповых занятий на индивидуальные
                .reabilitation__example
                  a(href="#") Пример меню
                  a(href="#") Пример расписания дня
                .reabilitation__price
                  .reabilitation__price-title Цена за месяц от
                  a(href="#").site-btn.reabilitation__price-btn
                    span 150 000 ₽


    .specialists
      .specialists__inner.site-container
        .specialists__title.site-title Наши специалисты
        .specialists__content.webp-img.b-lazy(data-webp="./img/grey-wave-bg.webp" data-img="./img/grey-wave-bg.png")
          .specialists__items#specialists-slider
            .specialists__item
              .specialists__img
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/spets1.jpg" alt="img").b-lazy
              .specialists__subtitle Стыценко Надежда <br> Борисовна
              .specialists__caption Руководитель центра
            .specialists__item
              .specialists__img
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/spets2.png" alt="img").b-lazy
              .specialists__subtitle Охремчук Наталья <br> Игоревна
              .specialists__caption Специалист по терапии химической <br> зависимости
            .specialists__item
              .specialists__img
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/spets3.png" alt="img").b-lazy
              .specialists__subtitle Яровой Олег <br> Петрович
              .specialists__caption Руководитель центра <br> “Решение Ростов-2”
            .specialists__item
              .specialists__img
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/spets4.png" alt="img").b-lazy
              .specialists__subtitle Краснова Анна <br> Сергеевна
              .specialists__caption Психолог
            .specialists__item
              .specialists__img
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/spets5.png" alt="img").b-lazy
              .specialists__subtitle Донскова Алена <br> Витальевна
              .specialists__caption Психолог

    .icon-block
      .icon-block__inner.site-container
        .icon-block__items
          .icon-block__item
            .icon-block__img
              include ../img/ico/icon-block1.svg
            .icon-block__title Работаем круглосуточно
            .icon-block__txt Врачи работают без выходных и праздников. Выезд врача нарколога на дом в течение 1 часа.
          .icon-block__item
            .icon-block__img
              include ../img/ico/icon-block2.svg
            .icon-block__title Опытные врачи
            .icon-block__txt Врачи со средним стажем работы более 15 лет. Предоставление лицензий от клиник.
          .icon-block__item
            .icon-block__img
              include ../img/ico/icon-block3.svg
            .icon-block__title 100% анонимность
            .icon-block__txt Не ставим на учет, не передаем данные третьим лицам, не фиксируем реальные имена.

    .consultation
      .consultation__inner.site-container.site-container--big
        .consultation__left
          .consultation__title Подберем программу реабилитации и поможем уговорить зависимого на лечение!
          .consultation__items
            .consultation__item.
              Каждое употребление может быть последним.
              Позвоните прямо сейчас или оставьте заявку,
              чтобы получить консультацию эксперта.
          .consultation__form
            form.site-form
              .site-form-row
                a(href='tel:88006003960').site-link-phone.form__phone
                  span <strong>8 800 600 39 60</strong>
              .site-form-row
                .site-form__input
                  input(type='tel' inputmode="numeric" placeholder="+7 ___ ___ __ __" data-valid="phone")
              .site-form-row
                a(href="#").site-btn.form__btn
                  span Получить консультацию
          .consultation__bottom Круглосуточная горячая линия
        .consultation__right
          .consultation__right-img.webp-img.b-lazy(data-webp="./img/form-img02.webp" data-img="./img/form-img02.jpg")
