extends _layout

block vars
  - var pageTitle = "Service page";
  - var pageClass = "pageservice";

block content

  div.main-wrap

    .txt-block.webp-img.b-lazy(data-webp="./img/grey-wave-bg.webp" data-img="./img/grey-wave-bg.png")
      .txt-block__inner.site-container
        .txt-block__title.site-title Процесс устранения запоев в стационаре
        .txt-block__content.site-container__inner
          p
            a(href="#") Алкоголизм
            | &nbsp;– хроническое прогрессирующее заболевание с опасными рецидивами. Одним из часто встречающихся симптомов является состояние запоя. Оно характеризуется потреблением спиртных напитков более одного дня. При этом в результате прекращения приема алкоголя проявляется абстинентный синдром, и человек испытывает различные болезненные ощущения. Они могут быть настолько тяжелыми, что возможны случаи смертельного исхода. Грамотное и безопасное выведение из запоя – важный этап лечения алкоголизма.
          p Ненумерованный
          ul
            li Lorem Ipsum является текст-заполнитель
            li Lorem Ipsum является текст-заполнитель
            li Lorem Ipsum является текст-заполнитель
            li Lorem Ipsum является текст-заполнитель
            li Lorem Ipsum является текст-заполнитель
          p Нумерованный
          ol
            li Lorem Ipsum является текст-заполнитель
            li Lorem Ipsum является текст-заполнитель
            li Lorem Ipsum является текст-заполнитель
            li Lorem Ipsum является текст-заполнитель
            li Lorem Ipsum является текст-заполнитель
            li Lorem Ipsum является текст-заполнитель
          p.
            Процедуру вывода из абстинентного синдрома проводят в клинике и на дому. Стационарная помощь считается более надежной и эффективной. Бывают случаи, когда человек не может попасть в больницу, но врачебное вмешательство требуется неотложно. В таких ситуациях можно воспользоваться услугой экстренной наркологической помощи, которая работает круглосуточно. Нарколог либо бригада врачей приедет по назначенному адресу за кратчайший промежуток времени в любой район Москвы. При необходимости возможна транспортировка в медицинское учреждение.


    .txt-block.txt-block--blue
      .txt-block__inner.site-container
        .txt-block__title.site-title Заголовок
        .txt-block__content.site-container__inner
          p.
            Большая часть текста сделана из разделов 1.10.32–3 книги Цицерона «На грани Добра и Зла» («De finibus bonorum et malorum»). Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit является первой известной человечеству версией («Больше нет никого из тех, кто любит скорбь, поскольку это горе и поэтому хочет заполучить это»). Находка присваивается Ричарду МакКлинтоку (Richard McClintock), филологу, руководителю публикаций в колледже Хампден-Сидней, что в Вирджинии; он искал «citings consectetur» в классической латинской литературе, термин, который встречается удивительно редко в том литературном тексте.
          p.
            Версия Цицерона Liber Primus (Первая Книга), разделы 1.10.32–3 (фрагменты добавлены в большую часть Lorem ipsum красным цветом):
          p
            a(href="#") Алкоголизм
            | &nbsp;– хроническое прогрессирующее заболевание с опасными рецидивами. Одним из часто встречающихся симптомов является состояние запоя. Оно характеризуется потреблением спиртных напитков более одного дня. При этом в результате прекращения приема алкоголя проявляется абстинентный синдром, и человек испытывает различные болезненные ощущения. Они могут быть настолько тяжелыми, что возможны случаи смертельного исхода. Грамотное и безопасное выведение из запоя – важный этап лечения алкоголизма.
          p Ненумерованный
          ul
            li Lorem Ipsum является текст-заполнитель
            li Lorem Ipsum является текст-заполнитель
            li Lorem Ipsum является текст-заполнитель
            li Lorem Ipsum является текст-заполнитель
            li Lorem Ipsum является текст-заполнитель
          p Нумерованный
          ol
            li Lorem Ipsum является текст-заполнитель
            li Lorem Ipsum является текст-заполнитель
            li Lorem Ipsum является текст-заполнитель
            li Lorem Ipsum является текст-заполнитель
            li Lorem Ipsum является текст-заполнитель
            li Lorem Ipsum является текст-заполнитель
          p.
            Процедуру вывода из абстинентного синдрома проводят в клинике и на дому. Стационарная помощь считается более надежной и эффективной. Бывают случаи, когда человек не может попасть в больницу, но врачебное вмешательство требуется неотложно. В таких ситуациях можно воспользоваться услугой экстренной наркологической помощи, которая работает круглосуточно. Нарколог либо бригада врачей приедет по назначенному адресу за кратчайший промежуток времени в любой район Москвы. При необходимости возможна транспортировка в медицинское учреждение.

    .txt-block.txt-block--blue.txt-block--img
      .txt-block__inner.site-container
        img.txt-block--img__img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/text-block-bg.webp" alt="img")
        .txt-block--img__content
          .txt-block__title.site-title Заголовок
          .txt-block__content.site-container__inner
            p.
              Большая часть текста сделана из разделов 1.10.32–3 книги Цицерона «На грани Добра и Зла» («De finibus bonorum et malorum»). Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit является первой известной человечеству версией («Больше нет никого из тех, кто любит скорбь, поскольку это горе и поэтому хочет заполучить это»). Находка присваивается Ричарду МакКлинтоку (Richard McClintock), филологу, руководителю публикаций в колледже Хампден-Сидней, что в Вирджинии; он искал «citings consectetur» в классической латинской литературе, термин, который встречается удивительно редко в том литературном тексте.
            p.
              Версия Цицерона Liber Primus (Первая Книга), разделы 1.10.32–3 (фрагменты добавлены в большую часть Lorem ipsum красным цветом):