@import "mixins.scss";



* {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  box-sizing: border-box;
}

textarea,
input,
a,
a:focus,
a:active,
a:hover{
  text-decoration: none;
  outline: 0;
}

h2{
  margin-top: 0;
}

button{
  outline: 0;
}

.page__wrapper{
  overflow: visible;
  overflow-x: hidden;
  position: relative;
}

a,
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul,p{
  margin: 0;
  padding: 0;
  list-style: none;
}

.oh{
  overflow: hidden;
}

.mobile-content{

  @include from-768{
    display: none;
  }
}

.desctop{

  @include for-768{
    display: none;
  }
}


.hide-mobile{

  @include for-992{
    display: none!important;
  }
}

.hide-desktop{

  @media (min-width: 992px) {
    display: none!important;
  }
}

/*site style start*/
.site-title{
  color: #333;
  font-size: 42px;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 40px;
  text-align: center;

  @include for-992{
    font-size: 26px;
    margin-bottom: 25px;
  }

  @include for-550{
    font-size: 24px;
    margin-bottom: 20px;
  }

  &:after{
    content: '';
    background: #77A3BE;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 2px;
    width: 90px;
    bottom: 0;
  }
}

.site-caption{

}

.site-container{
  max-width: 1090px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  &__inner{
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
  }

  &--big{
    max-width: 1335px;
  }
}

.site-btn{
  background: #FF0000;
  display: flex;
  justify-content: center;
  min-width: 165px;
  width: fit-content;
  transition: .3s;
  border-radius: 25px;
  background: linear-gradient(180deg, #DF8B8B 8.85%, #F25959 59.52%, #F34C4C 100%);
  box-shadow: 0px 2.54124px 19.0593px rgba(0, 0, 0, 0.25);


  span{
    font-size: 12px;
    color: white;
    line-height: 35px;
  }

  &:hover{
    box-shadow: 0 7px 18px -3px rgba(0,0,0,.5);
  }
}

.site-form{


  &__title{

  }

  &__caption{

  }

  &__row{
    display: flex;
    width: 100%;
  }

  &__input{
    width: 100%;


    input{
      background: #FFFFFF;
      box-shadow: 0px 2.83167px 21.2375px rgba(0, 0, 0, 0.25);
      border-radius: 28.3167px;
      font-size: 12px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #ABABAB;
      border: 0;
      min-width: 165px;
      line-height: 35px;
      width: fit-content;
      border: 1px solid transparent;
      transition: 0.3s;
    }
  }

  &__checkbox{

    input[type="checkbox"]{
      display: none;

      &:checked + label:after{
        opacity: 1;
      }
    }

    label{
      font-weight: 300;
      font-size: 12px;
      line-height: 13px;
      letter-spacing: 0.01em;
      color: #000000;
      position: relative;
      padding-left: 20px;
      display: flex;


      &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 11px;
        height: 11px;
        background: #ABABAB;
        border-radius: 2px;
      }

      &:after{
        content: '';
        left: 3px;
        top: 1px;
        position: absolute;
        width: 3px;
        height: 6px;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: rotate(45deg);
        opacity: 0;
        transition: .2s all;
      }
    }
  }

  &__btn{
    width: 100%;
  }

  &__btn-i{
    max-width: 100%;
  }

}

.site-form-submit{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 65px 70px 77px;
  visibility: visible;
  opacity: 0;
  transition: .2s;
  z-index: -1;
  border-radius: 20px;

  &__img{
    width: 126px;
    height: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  &__img-i{
    width: 100%;
  }

  &__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
  }

  &__caption{
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
  }

}

.submitted + .site-form-submit{
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.check-items{

}

.check-item{

}

.site-tabs{


  &__item{

  }
}


/*site styles end*/

.page__wrapper{

}

.main-wrap{

  @include for-992{
    margin-top: 80px;
  }
}

.mobile-back{
  display: none;

  @include for-992{
    display: block;
  }
}

.mobile{
  display: none;

  @include for-992{
    display: initial;
  }
}


.error-field input{
  border-color: red !important;
}


.header{

  &__inner{

  }

  &__top{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    background: white;

    @include for-992{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      box-shadow: 0 0 20px -10px black;
      padding: 15px;
      z-index: 100;
    }
  }

  &__top-column{
    display: flex;
    flex-direction: column;

    @include for-992{
      justify-content: center;
    }
  }

  &__logo{
    max-width: 395px;
    width: 100%;

    @include for-992{
      max-width: 215px;
    }
  }

  &__logo-img{
    width: 100%;
  }

  &__social{
    display: flex;
    justify-content: flex-end;

    @include for-992{
      justify-content: center;
    }
  }

  &__social-link{
    padding: 6px;
    transition: .3s all;

    &:hover{
      transform: scale(.9);
    }

    svg{
      width: 22px;
      height: 22px;
    }
  }

  &__top-txt{
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #333333;
    text-align: end;

    @include for-992{
      text-align: center;
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__top-phone{
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;

    @include for-992{
      justify-content: center;
    }
  }

  &__top-phone-link{
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.01em;
    color: #333333;
    transition: .3s all;

    @include for-992{
      font-size: 18px;
      line-height: 20px;
    }

    &:hover{
      opacity: .8;
    }
  }

  &__top-help{
    display: flex;
    justify-content: flex-end;

    @include for-992{
      justify-content: center;
      padding-bottom: 25px;
    }
  }

  &__top-help-i{
    font-size: 11.8523px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    background: #9CC5DE;
    border-radius: 33px;
    padding: 6px 8px;
    transition: .3s all;

    &:hover{
      box-shadow: 0px 2.83167px 7px rgba(0, 0, 0, 0.25);
    }
  }

  &__bottom{

    @include for-992{
      position: fixed;
      top: 0;
      height: 100%;
      max-width: 260px;
      width: 100%;
      background: white;
      overflow-y: auto;
      z-index: 150;
      transition: .5s all;
      left: -100%;

      &.open{
        box-shadow: 0 0 20px -5px black;
        left: 0;
      }
    }
  }

  &__links{
    display: flex;
    justify-content: space-around;
    padding: 15px 0;

    @include for-992{
      flex-direction: column;
      padding: 15px;
    }
  }

  &__link{
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #333333;
    position: relative;
    transition: .3s all;

    @include for-992{
      text-align: center;
      display: flex;
      justify-content: center;
      font-size: 14px;
      margin-bottom: 15px
    }

    &:hover{
      color: #5f86d6;

      &:after{
        width: 100%;
        background: #5f86d6;
      }
    }

    &:after{
      content: '';
      height: 1px;
      width: 75%;
      position: absolute;
      bottom: -6px;
      left: 50%;
      transform: translateX(-50%);
      background: #8CAFF7;
      transition: .3s all;

      @include for-992{
        width: 15%;
      }
    }
  }

  &__nav{
    padding: 20px 0;

    @include for-1200{
      padding-left: 25px;
      padding-right: 25px;
    }

    @include for-992{
      padding: 15px;
    }

  }

  &__top-mobile-btn{
    display: flex;
    width: 50px;
    height: 50px;

    @include from-992{
      display: none;
    }
  }

  &__top-mobile-btn-i{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: url("../img/ico/burger.svg");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: .1s all;
    border: 2px solid #8caff7;
    cursor: pointer;

    &.show{
      background-image: url("../img/ico/close.svg");
    }
  }


}

.nav{
  display: flex;
  justify-content: space-between;

  @include for-992{
    flex-direction: column;
  }

  &__item{
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__item:hover &__link{
    color: #E48080;

    @include for-992{
      color: inherit;
    }
  }

  &__item:hover &__submenu{
    visibility: visible;
    opacity: 1;
    z-index: 2;
  }

  &__link{
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #333333;
    transition: .3s all;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 3;

    @include for-992{
      font-size: 16px;
      justify-content: flex-start;
      line-height: 30px;
    }
  }

  &__submenu{
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: .3s all;
    padding-top: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;

    @include for-992{
      position: relative;
      visibility: visible;
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      top: 0;
      max-height: 0;
      overflow: hidden;
    }

    &:before{
      content: '';
      width: 100%;
      height: calc(100% + 40px);
      background: rgba(255, 255, 255, 0.85);
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
      border-radius: 26px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;

      @include for-992{
        display: none;
      }
    }
  }

  &__submenu-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }

  &__submenu-item:hover &__submenu-link{
    color: #E48080;
    opacity: 0.8;
    background: #E1E1E1;

    @include for-992{
      opacity: 1;
      background: transparent;
      color: inherit;
    }
  }

  &__submenu-item:last-child &__submenu-link{
    padding-bottom: 10px;
    border-radius: 0 0 26px 26px;
  }

  &__submenu-item:hover &__submenu-lvl2{
    visibility: visible;
    opacity: 1;
    z-index: 2;
  }

  &__submenu-link{
    padding: 0 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 300;
    font-size: 17px;
    line-height: 28px;
    color: #333333;
    opacity: 0.8;
    white-space: nowrap;
    transition: .3s;
    position: relative;
    z-index: 3;

    @include for-992{
      justify-content: flex-start;
      padding-left: 10px;
      font-size: 14px;
      white-space: normal;
    }
  }

  &__submenu-lvl2{
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: .3s all;
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    top: 0;

    @include for-992 {
      position: relative;
      transform: translate(0) !important;
      visibility: visible;
      opacity: 1;
      z-index: 2;
      padding-left: 10px;
      max-height: 0;
      overflow: hidden;
    }


    &:before{
      content: '';
      background: rgba(255, 255, 255, 0.85);
      box-shadow: -10px 5px 20px -7px rgba(0,0,0,.25);
      border-radius: 26px 0 0 26px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      @include for-992{
        display: none;
      }
    }
  }

  &__submenu-lvl2-item{
    position: relative;
    z-index: 1;
  }

  &__submenu-lvl2-link{
    white-space: nowrap;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #333333;
    line-height: 28px;
    padding: 0 15px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    transition: .3s all;

    @include for-992{
      white-space: initial;
      font-size: 14px;
    }

    &:hover{
      color: #E48080;

      @include for-992{
        color: inherit;
      }
    }
  }

  .open-submenu-right &__submenu-lvl2{
    left: auto;
    right: 0;
    transform: translateX(100%);

    &:before{
      box-shadow: 10px 5px 20px -7px rgba(0,0,0,.25);
      border-radius: 0 26px  26px 0;
    }
  }

  .open-submenu-right &__submenu-lvl2-link{
    justify-content: flex-start;
  }


  @include for-992{

    .parent {
      cursor: pointer;

      > a{
        width: calc(100% - 30px);
      }

      //&:after {
      //  content: '';
      //  position: absolute;
      //  width: 30px;
      //  height: 30px;
      //  right: 0;
      //  top: 0;
      //  background: url("../img/ico/arrow-right.svg") center/5px no-repeat;
      //}

      &.open {

        > .mobile-arrow{
          transform: rotate(90deg);
        }

        > div {
          max-height: 1000px;
        }
      }

    }
  }

  .mobile-arrow{
    display: none;

    @include for-992{
      display: flex;
      position: absolute;
      width: 30px;
      height: 30px;
      right: 0;
      top: 0;
      background: url("../img/ico/arrow-right.svg") center/5px no-repeat;
      cursor: pointer;
      transition: .3s all;
    }
  }
}

.top-bunner{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__inner{
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 575px;
    width: 100%;

    @include for-550{
      min-height: 415px;
    }
  }

  &__form{
    max-width: 487px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    padding: 44px 30px;

    form.site-form{
      display: flex;
      margin: 0 -15px;

      .site-form__row{
        padding: 0 15px;
      }

      .site-btn, .site-form__input input{
        max-width: 215px;
        width: 100%;
      }

      @include for-550 {
        .site-form__row, .site-form__input {
          display: flex;
          justify-content: center;

          &:first-child{
            margin-bottom: 10px;
          }
        }
      }

      @include for-550{
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__title{
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #333333;
    margin-bottom: 15px;
    width: 100%;

    @include for-550{
      font-size: 20px;
      line-height: 25px;

      br{
        display: none;
      }
    }
  }

  &__caption{
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #333333;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;

    @include for-550{
      font-size: 14px;
    }
  }

  &--stars &__form{
    padding-bottom: 25px;
  }

  &__stars{
    display: flex;
    justify-content: center;
    padding-top: 25px;

    @include for-420{
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }

  }

  &__stars-i{
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
    padding-left: 25px;
    position: relative;
    margin: 0 15px;

    @include for-768{
      margin: 0 5px;
      width: fit-content;
    }

    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      width: 14px;
      height: 14px;
      background: url("../img/ico/star.svg") center/contain no-repeat;
    }
  }

}

.service-type{

  padding-top: 35px;
  padding-bottom: 45px;

  &__inner{

    @include for-768 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__title{

  }

  &__items{
    display: flex;
    justify-content: space-between;

    @include for-768{
      display: inherit;
    }
  }

  &__item-wrap{

    @include for-768{
      max-width: 100%;
      padding: 30px 15px;
    }

  }

  &__item{
    background: white;
    padding-bottom: 40px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    max-width: 250px;
    margin-bottom: 15px;

    @include for-768{
      max-width: 100%;
    }
  }

  &__img{
    img{
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
      border-radius: 30px;

      @include for-768{
        width: 100%;
      }
    }
  }

  &__subtitle{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.01em;
    margin: 13px 0;
  }

  &__name{
    font-size: 16px;
    letter-spacing: 0.01em;
    padding: 0 20px;
  }

  &__txt{
    font-weight: 300;
    font-size: 11px;
    line-height: 151.69%;
    letter-spacing: 0.01em;
    padding: 0 20px;
    margin-bottom: 10px;
  }

  &__item-btn{
    margin: 0 auto;
    letter-spacing: 0.01em;
    padding: 0 13px;

    span{
      line-height: 54px;
      font-size: 16px;
    }
  }

}

.starting{
  padding-top: 35px;
  padding-bottom: 30px;

  &__inner{

  }

  &__title{

  }

  &__items{
    display: flex;
    justify-content: space-between;

    @include for-992{
      flex-direction: column;
      align-items: center;
    }
  }

  &__item{
    @include for-992{
      margin-bottom: 80px;

      &:last-child{
        margin-bottom: 0;
      }
    }

    &:last-child{
      .starting__img:after{
        display: none;
      }
    }
  }

  &__img{
    display: flex;
    margin-bottom: 20px;
    position: relative;

    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 150%;
      transform: translateY(-50%);
      width: 90px;
      height: 4px;
      background: rgba(156, 197, 222, 0.6);

      @include for-992{
        width: 4px;
        height: 50px;
        top: 150%;
        left: 50%;
        transform: translateX(-50%);
      }
    }


  }

  &__name{
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.01em;
  }

  &__phone{
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.01em;
    color: #333333;
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;

    @include for-550{
      font-size: 36px;
      line-height: 35px;
    }
  }

  &__caption{
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.01em;
    margin-bottom: 15px;

    @include for-550{
      font-size: 16px;
    }
  }

  &__btn{
    margin: 0 auto;
  }

}

.reviews{

  background: #C4DCEB;

  &__inner{
    padding-top: 55px;
    padding-bottom: 100px;

    @include for-550{
      padding-top: 35px;
      padding-bottom: 45px;
    }
  }

  &__title{

  }

  &__items{
    margin: 0 -30px;
    display: flex;

    @include for-992{
      margin: 0 -15px;
    }
  }

  &__item{
    padding: 0 30px;
    width: 33.33333%;

    @include for-992{
      padding: 30px 15px;
      width: 100%;
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 3.72745px 27.9559px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    padding: 25px 30px;
    align-items: center;
    height: 100%;
  }

  &__stars{
    width: 71px;
    height: 13px;
    background: url("../img/ico/stars.svg") center/contain no-repeat;
    margin-bottom: 10px;
  }

  &__name{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #333333;
    margin-bottom: 15px;
  }

  &__caption{
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #333333;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__txt{
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #333333;
    margin-bottom: 15px;
  }

  &__date{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-left: auto;
    margin-top: auto;
  }

  &__btn{
    margin-top: 60px;
    display: flex;
    justify-content: center;

    @include for-550{
      margin-top: 0;
    }
  }

  &__btn-i{

  }

}

.steps{
  background: #BAD7E8;

  &__inner{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__items{
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
  }

  &__item{
    padding: 0 15px;
    width: 33.33333%;
    margin: 15px 0;

    @include for-992{
      width: 50%;
    }

    @include for-550{
      width: 100%;
    }
  }

  &__content{

  }

  &__num{
    display: flex;
    position: relative;
    margin-bottom: 15px;

    span{
      width: 38px;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      color: #9CC5DE;
      font-size: 20px;
      border-radius: 50%;
      position: relative;
      background: #FFFFFF;
    }

    &:after{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 45px;
      height: 2px;
      max-width: 205px;
      width: 100%;
      border-radius: 5px;
      background: #FFFFFF;
    }

  }

  &__title{
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #333333;

  }

  &__txt{

    p{
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.01em;
      color: #333333;
      margin: 15px 0;
    }
  }

}
.pageservice .steps{

  &__inner{
    padding-bottom: 80px;
  }

  &__item{
    width: 25%;

    @include for-992{
      width: 50%;
    }

    @include for-550{
      width: 100%;
    }
  }
}

.calculator{
  padding: 135px 0 170px;

  @include for-768{
    padding: 70px 0 70px;
  }

  &__inner{
    padding: 25px 0 50px;
    background: #FFFFFF;
    border-radius: 30px;
  }

  &__title{
    display: flex;
    flex-direction: column;

    span{
      margin-top: 5px;
      font-weight: 300;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.01em;

      color: #333333;
    }
  }

  &__content{
    max-width: 835px;
    margin: 0 auto;

    form{
      display: flex;

      @include for-768{
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__left{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 570px;

    @include for-768{
      justify-content: space-around;
    }
  }

  &__item{
    //width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    &:last-child{
      min-width: 250px;
      justify-content: flex-end;
    }

    .ui-selectmenu-button.ui-button{
      background: #FFFFFF;
      border: 2px solid #E5E5E5;
      box-sizing: border-box;
      border-radius: 36.6855px;
      outline: 0;
      color: #ABABAB;
      min-width: 250px;
      padding: 9px 15px;
    }

    .ui-button .ui-icon {
      background-image: url(../img/ico/arr-bot.svg);
      background-position: center center;
    }


  }

  &__lable{
    margin-bottom: 10px;
    color: #333333;
  }

  &__select{

  }

  &__right{
    padding-left: 160px;
    display: flex;
    align-items: center;

    @include for-768{
      padding-left: 0;
    }
  }

  &__price{

  }

  &__price-title{
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #333333;
  }

  &__price-count{
    span{
      font-weight: bold;
      font-size: 46px;
      line-height: 54px;
      letter-spacing: 0.01em;
      color: #333333;

      &:last-child{
        margin-left: 10px;
      }
    }
  }

}

.small-price{
  background-repeat: no-repeat;
  background-size: cover;

  &__inner{
    padding-top: 57px;
    padding-bottom: 57px;
  }

  &__title{

  }

  &__items{
    display: flex;
    flex-wrap: wrap;

    @include for-992{
      flex-direction: column;
      align-items: center;
    }
  }

  &__item{
    width: 50%;
    display: flex;
    margin-bottom: 60px;

    @include for-992{
      width: 100%;
    }

    @include for-550{
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
    }
  }

  &__img{
    width: 135px;
    height: 135px;
    box-shadow: 0px 3.79538px 28.4654px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 135px;
  }

  &__info{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 15px;

    @include for-550{
      margin-top: 20px;
      padding-left: 15px;
    }
  }

  &__subtitle{
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 15px;

  }

  &__caption, &__txt{
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #000000;

    @include for-550{
      font-size: 14px;
    }
  }

  &__txt{
    margin: 15px 0;
  }

  &__btn{
    @include for-550{
      margin: 0 auto;
    }
  }

}

.reabilitation{

  &__inner{
    padding-top: 65px;
    padding-bottom: 65px;

    @include for-992{
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__title{

  }

  &__items{
    display: flex;
    margin: 0 -15px;

    @include for-992{
      margin: 0;
      display: inherit;
    }
  }

  &__item{
    width: 33.3333%;
    padding: 0 15px;

    @include for-992{
      width: 100%;
      padding: 30px 15px;
    }
  }

  &__content{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
  }

  &__img{
    display: flex;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    min-height: 235px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;

    @include for-992{
      min-height: auto;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__desc{
    padding: 10px 30px 25px;
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  &__subtitle{
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #333333;
    margin-bottom: 10px;
  }

  &__caption{
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 10px;
  }

  &__list, ul{
    margin-bottom: 15px;

    li{
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: #333333;
      position: relative;
      padding-left: 30px;

      &:before{
        content: '';
        height: 14px;
        width: 14px;
        background: url("../img/ico/star.svg") center/contain no-repeat;
        left: 0;
        position: absolute;
        top: 3px;
      }

      span{
        font-size: 12px;
        font-weight: 300;
      }

    }
  }

  &__example{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;

    a{
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #333333;
      margin-bottom: 10px;
      transition: .3s;

      &:hover{
        color: #E48080;
      }
    }
  }

  &__price{
    margin-top: auto;
    margin-left: -15px;
    margin-right: -15px;
  }

  &__price-title{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #333333;
    margin-bottom: 15px;

  }

  &__price-btn{
    width: 100%;
    display: flex;
    border-radius: 40px;

    span{
      font-size: 32px;
      line-height: 62px;
      letter-spacing: 0.01em;
      font-weight: 700;
      color: #FFFFFF;
    }
  }

  &__txt{
    margin-bottom: 20px;
    line-height: 24px;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
  }


}
.pageservice .reabilitation{

  &__subtitle{
    font-size: 22px;
    line-height: 26px;
  }

  &__caption{
    font-size: 18px;
    line-height: 21px;
  }
}
.dropper{

  @include for-992 {
    .reabilitation__img {
      padding: 15px;

      svg {
        height: 100px;
        width: 100%;
      }
    }
  }
}

.our-services{
  padding-bottom: 90px;

  @include for-768{
    padding-bottom: 70px;
  }

  &__inner{

  }

  &__title{

  }

  &__content{
    background: rgba(156, 197, 222, 0.6);
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 57px 50px 42px;

    @include for-768{
      flex-wrap: wrap;
    }

    @include for-550{
      padding: 30px 15px 30px;
      margin: 0;
    }
  }

  &__item{
    width: 33.3333%;
    padding: 0 15px;
    margin-bottom: 17px;

    @include for-768{
      width: 50%;
    }

    @include for-550{
      width: 100%;
    }
  }

  &__link{
    background: #FFFFFF;
    box-shadow: 0px 2.83167px 21.2375px rgba(0, 0, 0, 0.25);
    border-radius: 28.3167px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #000000;
    display: flex;
    padding: 13px 16px;
    transition: .3s;

    &:hover{
      //color: #5f86d6;
      box-shadow: 0px 2.83167px 21.2375px rgba(0, 0, 0, 0);
      color: #C4C4C4;
    }

    @include for-1100{
      font-size: 15px;
      line-height: 14px;
    }
  }
}
.pageservice .our-services{
  padding-top: 50px;
  padding-bottom: 50px;
}

.stages{

  &__inner{
    padding-top: 67px;
    padding-bottom: 67px;
  }

  &__title{

  }

  &__items{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__item{
    width: 33.3333%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:nth-child(2) .stages__img img{
      transform: translateX(10px);
    }

    @include for-992{
      width: 100%;
    }
  }

  &__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 157px;
    background: #C4DCEB;
    border-radius: 50%;
    margin-bottom: 25px;

    @include for-992{
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  &__name{
    width: 100%;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #000000;
  }

  &__txt{
    padding-left: 27px;

    p{
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.01em;
      color: #000000;
      padding: 15px 0;
    }
  }

}

.support{
  background: rgba(156, 197, 222, 0.6);

  &__inner{
    display: flex;
    padding-top: 67px;
    padding-bottom: 67px;
    justify-content: space-between;
    align-items: center;

    @include for-768{
      flex-direction: column;
      position: relative;
    }
  }

  &--reverse &__inner{
    flex-direction: row-reverse;
  }

  &__left{
    width: 50%;

    @include for-550{
      width: 100%;
    }

    @include for-768{
      position: absolute;
      justify-content: center;
      align-items: center;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 1;
      display: flex;
      opacity: .2;
      height: 100%;
    }
  }

  &--reverse &__left{
    display: flex;
    flex-direction: row-reverse;


    @include for-768{
      justify-content: center;
    }
  }

  &__right{
    width: 50%;

    @include for-550{
      width: 100%;
    }

    @include for-768{
      position: relative;
      z-index: 2;
      width: 100%;
      align-items: center;
    }
  }

  &__title{
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 15px;

    @include for-768{
      font-size: 22px;
      line-height: 20px;
      margin-top: 20px;
      text-align: center;
    }
  }

  &__subtitle{
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 15px;

    @include for-768{
      font-size: 18px;
      line-height: 18px;
      text-align: center;
    }
  }

  &__phone{
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.01em;
    color: #333333;
    margin-bottom: 15px;

    @include for-768{
      font-size: 35px;
      line-height: 42px;
      display: flex;
      justify-content: center;
    }
  }

  &__btn{

    @include for-768{
      margin: 0 auto;
    }
  }

  &--reverse{
    .support__left{
      @include for-768{
        display: none;
      }
    }

    .support__inner{
      justify-content: center;
    }
  }

}

.consultation{

  &__inner{
    display: flex;
    margin-top: -45px;
    padding-bottom: 57px;

    @include for-1100{
      flex-direction: column-reverse;
      align-items: center;
    }

    @include for-768{
      margin-top: 0;
    }
  }

  &__left{
    width: 50%;
    border-radius: 30px;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 90px 65px 35px;
    margin-bottom: 30px;

    @media (max-width: 1290px) {
      padding: 90px 19px 35px;
    }

    @include for-1100{
      width: 100%;
      padding: 50px 15px 30px;
    }

    @include for-768{
      padding-top: 40px;
      width: 100%;
      max-width: 100%;
      position: relative;
      z-index: 1;
      background: transparent;
    }


  }

  &__title{
    font-weight: 500;
    font-size: 30.5831px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: #333333;
    margin-bottom: 15px;

    @include for-768{
      font-size: 20.58px;
      line-height: 20px;
    }
  }

  &__items{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  &__item{
    font-size: 24px;
    font-weight: 300;
    color: black;
    margin-bottom: 15px;

    @include for-768{
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  &__form{

    form{
      display: flex;
      margin: 0 -15px;

      @media (max-width: 1290px) {
        flex-direction: column;
      }
      .form__phone{
        @media (max-width: 1290px) {
          width: 50%;
        }

        @media (max-width: 420px) {
          width: 100%;
        }
      }
      .site-form__input{
        @media (max-width: 1290px) {
          width: 50%;

          input{
            width: 100%;
          }
        }
        @media (max-width: 420px) {
          width: 100%;
        }
      }
      .form__btn{
        @media (max-width: 1290px) {
          width: 50%;
        }
        @media (max-width: 420px) {
          width: 100%;
        }
      }
    }

    .site-form-row{
      padding: 0 15px;

      @media (max-width: 1290px) {
        margin-bottom: 15px;

        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }

  &__bottom{
    font-weight: 300;
    font-size: 17.1648px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #333333;
    padding-top: 35px;
  }

  &__right{
    width: 50%;


    @include for-1100{
      width: 100%;
    }

  }

  &__right-img{
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 30px;
    min-height: 520px;
    display: flex;
    width: 100%;

    @include for-1100{
      min-height: 400px;
      background-size: cover;
      width: 60%;
      margin: 0 auto;
      margin-top: 15px;
    }

    @include for-768{
      width: 100%;
    }
  }

  &--reverse &__inner{
    flex-direction: row-reverse;
    margin-top: 0;
    padding-top: 57px;
  }
  &--reverse &__left{
    padding: 0;
    width: 60%;
    max-width: 620px;

    @include for-768{
      width: 100%;
      max-width: 100%;
    }
  }
  &--reverse &__right{
    padding: 0;
    width: 40%;
    display: flex;
    align-items: center;

    @include for-768{
      width: 100%;
      max-width: 100%;
      display: none;
    }
  }

}
.pageservice .consultation{

  &__inner{
    padding-bottom: 0;
    margin-bottom: -50px;
    margin-top: -45px;

    @include for-992 {
      margin-top: 30px;
      margin-bottom: 0;
    }
  }

  &__left{
    margin-bottom: 0;
  }
}

.solo-consultation{

  &__inner{

  }

  &__content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
  }

  &__img{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 350px;
    width: 365px;
    z-index: -1;

    @include for-992{
      display: none;
    }
  }

  &__absolute{
    background-color: white;
    margin-top: -80px;
    position: relative;
    max-width: 770px;
    width: 100%;
    border-radius: 30px;
    padding: 15px 30px;
    margin-bottom: 45px;

    p{
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #000000;
      margin: 15px 0;
    }
  }

  &__title{
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 15px;

    @include for-992{
      font-size: 30px;
      line-height: 35px;
      text-align: center;
    }

    @include for-550{
      font-size: 25px;
    }
  }

  &__caption{
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 50px;
    text-align: center;

    @include for-992{
      font-size: 15px;
      line-height: 15px;
      margin-bottom: 15px;
    }
  }

  &__phone{
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.175em;
    color: #333333;
    margin-bottom: 70px;
    display: flex;

    @include for-992{
      font-size: 33px;
      line-height: 48px;
      letter-spacing: .075em;
      margin-bottom: 20px;
    }
  }

  &__btn{

  }

  &__btn-i{

  }

}

.additional{

  &__inner{

  }

  &__title{

  }

  &__block{
    display: flex;
    flex-wrap: wrap;
    padding: 60px 25px 70px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 30px;

    @include for-992{
      padding: 30px 15px;
    }

  }

  &__item{
    width: 50%;
    display: flex;
    padding: 25px;

    @include for-1200{
      padding: 10px 15px;
    }

    @include for-992{
      width: 100%;
    }
  }

  &__link{
    position: relative;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.01em;
    display: flex;
    width: 100%;
    color: black;
    transition: .3s;

    @include for-1200{
      font-size: 18px;
      line-height: 34px;
    }

    @include for-550{
      font-size: 16px;
      line-height: 20px;
    }

    &:hover{
      color: #77A3BE;
    }

    &:after{
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background: #77A3BE;
    }
  }

}

.license{
  padding-top: 15px;
  padding-bottom: 50px;

  &__title{

  }

  &__inner{

  }

  &__list{

  }

  &__item{

  }

  &__link{
    display: flex;
    padding:  0 10px;
  }

  &__img{
    width: 100%;
  }

}

.txt-block{
  padding-top: 45px;
  padding-bottom: 45px;

  &__inner{

  }
  &__title{

  }
  &__content{
    max-width: 760px;
    margin: 0 auto;

    p{
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.01em;
      color: #000000;
      margin: 15px 0;
    }
  }
}

.hospital{
  padding-top: 120px;
  padding-bottom: 120px;
  background-position: center;
  background-size: cover;

  @include for-992{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__inner{

  }

  &__title{

  }

  &__content{
    background: white;
    border-radius: 30px;
    padding: 15px 50px;

    @include for-992{
      padding: 15px;
    }
  }

  p{
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #000000;
    margin: 15px 0;
    //text-align: justify;

    @include for-768{
      font-size: 15px;
      line-height: 23px;
    }
  }

  &__list{
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    padding: 15px 60px;

    @include for-768{
      padding: 15px;
    }
  }

  &__item{
    width: 33.33333%;
    padding: 0 15px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include for-550{
      width: 50%;
    }

    @include for-420{
      width: 100%;
    }
  }

  &__ico{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    img{
      width: 100%;
      height: 100%;
    }
  }

  &__name{
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
  }

  &__bottom{
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #346584;
    margin: 15px 0;
  }


}

.icon-block{
  background: rgba(156,197,222,.6);
  padding: 65px 0 90px;

  &__inner{

  }

  &__items{
    display: flex;
    justify-content: space-around;

    @include for-550{
      flex-direction: column;
      align-items: center;
    }
  }

  &__item{
    text-align: center;
    max-width: 240px;

    @include for-550{
      margin-bottom: 25px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  &__img{
    margin-bottom: 20px;
  }

  &__title{
    font-weight: 500;
    font-size: 17.9151px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.01em;
    margin-bottom: 8px;
    color: #333333;
  }

  &__txt{
    font-weight: 300;
    font-size: 12.5405px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.01em;
  }

}

.another-form{
  padding: 30px 0 35px;
  position: relative;

  @include for-768{
    padding-bottom: 0;
  }

  &:after{
    content: '';
    display: block;
    width: 406px;
    height: 350px;
    background: url("../img/a-f.jpg") center center no-repeat;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    margin-left: 320px;

    @include for-768{
      display: none;
    }
  }

  &__inner{
    text-align: center;
    padding-right: 135px;

    @include for-768{
      padding-right: 0;
    }
  }

  &__title{
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.01em;
    max-width: 550px;
    margin: 0 auto 16px;

    @include for-992{
      font-size: 30px;
      line-height: 35px;
      text-align: center;
    }

    @include for-550{
      font-size: 25px;
    }
  }

  &__caption{
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    margin-bottom: 30px;

    @include for-992{
      font-size: 15px;
      line-height: 15px;
      margin-bottom: 15px;
    }
  }

  &__number{
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.175em;
    color: #333333;
    margin-bottom: 40px;
    display: inline-block;

    @include for-992{
      font-size: 33px;
      line-height: 48px;
      letter-spacing: .075em;
      margin-bottom: 20px;
    }
  }

  &__form{
    form{
      display: flex;
      justify-content: center;

      @include for-768{
        flex-direction: column;
        align-items: center;
      }
    }

    .site-form-row {
      padding: 0 15px;

      @include for-768{
        margin-bottom: 15px;
      }
    }
  }

}

.specialists{
  padding-bottom: 50px;

  &__inner{

  }

  &__title{

  }

  &__content{
    padding: 40px 0 30px;
    border-radius: 30px;
  }

  &__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 33%;
    text-align: center;
    margin-bottom: 30px;

    @include for-768{
      max-width: 50%;
    }

    @include for-550{
      max-width: 100%;
    }

    &:last-child{
      margin-bottom: 0;
    }

    &:nth-last-child(2){
      margin-bottom: 0;
    }
  }

  &__img{
    img{
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
      border-radius: 100px;
    }

    margin-bottom: 20px;

  }

  &__subtitle{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.01em;
  }

  &__caption{
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;

    /* identical to box height */
    letter-spacing: 0.01em;
  }

}

.when-call{

  &__inner{
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__content{
    max-width: 830px;
    margin: 0 auto;
  }

  &__title{
    background: linear-gradient(180deg, #DF8B8B 8.85%, #F25959 59.52%, #F34C4C 100%);
    border-radius: 10px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    margin-bottom: 40px;

    span{
      font-size: 40px;
      line-height: 47px;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      text-align: center;

      @include for-768{
        font-size: 20px;
      }
    }
  }

  &__txt{
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 30px;

    @include for-768{
      font-size: 16px;
    }
  }

  &__list{

    li{
      position: relative;
      padding-left: 40px;

      &:before{
        content: '';
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: #77A3BE;
        position: absolute;
        left: 0;
        top: 19px;

        @include for-768{
          top: 12px;
        }
      }

      span{
        font-weight: 300;
        font-size: 18px;
        line-height: 43px;
        letter-spacing: 0.01em;
        color: #000000;
        position: relative;

        @include for-768{
          font-size: 14px;
          line-height: 36px;
        }

        &:after{
          content: '';
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 1px;
          background: #77A3BE;
        }
      }
    }
  }

}

.treatment{
  padding-top: 45px;

  &__inner{

  }

  &__title{

  }

  &__content{

  }

  &__list{
    display: flex;
    justify-content: center;
    margin: 0 -15px;
    flex-wrap: wrap;
  }

  &__item{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    width: 33.33333%;
    margin-bottom: 30px;
    align-items: center;

    &:nth-child(2) .treatment__item-content, &:nth-child(4) .treatment__item-content, &:nth-child(5) .treatment__item-content{
      align-items: center;
    }

    @include for-768{
      width: 50%;

    }

    @include for-550{
      width: 100%;
    }
  }

  &__item-content{
    max-width: fit-content;
    display: flex;
    flex-direction: column;
  }

  &__ico{
    width: 157px;
    height: 157px;
    display: flex;
    border-radius: 50%;
    margin-bottom: 15px;

    @include for-768{
      margin: 0 auto 15px;
    }

    img{
      width: 100%;
      height: 100%;
    }
  }

  &__name{
    width: 100%;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 15px;
  }

  &__txt{
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #000000;
    width: 100%;
  }

}

.regions{
  padding-top: 34px;

  &__inner{

  }

  &__title{
    display: flex;
    flex-direction: column;

    span{
      margin-top: 10px;
    }
  }

  &__content{
    background: rgba(156, 197, 222, 0.6);
    border-radius: 30px;
  }

  &__list{
    padding: 60px 90px;
    column-count: 3;

    @include for-992{
      padding: 40px 30px;
    }

    @include for-768{
      column-count: 2;
    }

    @include for-550{
      column-count: 1;
    }

    li{
      margin-bottom: 35px;

      @include for-550{
        margin-bottom: 20px;
      }

      a{
        position: relative;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.01em;
        color: #000000;
        transition: .2s all;

        @include for-768{
          font-size: 17px;
        }


        &:hover{
          color: #E48080;

          &:after{
            background: #E48080;
          }
        }

        &:after{
          content: '';
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 2px;
          background: #77A3BE;
          transition: .2s all;
        }
      }
    }
  }

}

.footer{

  &__inner{
    padding-bottom: 50px;
  }

  &__top{

  }

  &__menu{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 70px;

    @include for-992{
      padding-top: 50px;
      padding-bottom: 25px;
    }

    @include for-550{
      flex-direction: column;
      align-items: center;
    }
  }

  &__menu-item{
    @include for-550{
      display: flex;
      justify-content: center;
    }
  }

  &__menu-link{
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #000000;
    transition: .2s all;

    @include for-992{
      font-size: 15px;
      line-height: 18px;
    }

    @include for-550{
      padding: 5px 10px;
      width: 100%;
      text-align: center;
    }

    &:hover{
      color: #77A3BE;
    }


    &--sity{
      position: relative;
      padding-left: 27px;

      &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background: url("../img/ico/pin.svg") center/contain no-repeat;
        width: 19px;
        height: 27px;
        display: flex;
      }
    }
  }

  &__social{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;

    @include for-992{
      margin-bottom: 30px;
    }
  }

  &__social-item{
    margin: 0 10px;

    svg{
      transition: .3s all;
    }

    &:hover{

      svg{
        transform: scale(.9);
      }
    }
  }

  &__bottom{
    display: flex;
    justify-content: space-between;

    @include for-550{
      flex-direction: column;
      align-items: center;
    }
  }

  &__left{
    display: flex;
    flex-direction: column;

    @include for-992{
      flex: 0 0 260px;
    }

    @include for-550{
      flex: auto;
      width: 100%;
    }

    .header__logo{
      margin-bottom: 25px;

      @include for-992{
        margin-bottom: 10px;
      }
    }

    .header__top-phone,
    .header__top-help{
      justify-content: flex-start;
    }

    .header__top-txt{
      text-align: start;
    }
  }

  &__logo{

  }

  &__phone{
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.01em;
    color: #333333;
    transition: .3s all;
    padding: 5px 0;
  }

  &__right{
    max-width: 410px;
    width: 100%;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #000000;

    @include for-992{
      font-size: 14px;
      max-width: 100%;
      padding: 0 15px;
    }

    @include for-550{
      padding: 0;
    }
  }

}

.ui-button.ui-state-active:hover, .ui-button:active, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active {
  border: 0;
  background: #ffffff;
  font-weight: 400;
  color: #333333;
}

.ui-widget.ui-widget-content{
  //border-radius: 10px;
  //border-top-left-radius: 0;
  //border-top-right-radius: 0;
  border-radius: 15px;
  padding-top: 5px;
  border: 2px solid #E5E5E5;
  margin-top: -2px;
}

.ui-state-active{
  background: #eeeeee !important;
}

.popup{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  transition: .3s all;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;

  &.open{
    z-index: 350;
    opacity: 1;
    visibility: visible;
  }

  &__body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    margin-top: 150px;
  }

  &__inner{
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }

  &__close{
    position: absolute;
    right: -24px;
    top: -24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    transition: .3s all;
    z-index: 3;

    @include for-992{
      width: 25px;
      height: 25px;
      right: 5px;
      top: 5px;
    }

    &:hover{
      opacity: .7;
    }

  }

  &__close-ico{
    display: flex;
    width: 100%;
    height: 100%;
    background: url("../img/ico/cancel.svg") center no-repeat;
    background-size: contain;
  }



}

.callback{

  &__content{
    display: flex;
    justify-content: flex-end;
    width: 768px;
    border-radius: 20px;
    height: 500px;
    padding: 30px;
    background-repeat: no-repeat;

    @include for-992{
      padding: 15px;
      width: auto;
      justify-content: center;
      height: auto;
      position: relative;

      &:before{
        content: '';
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        border-radius: 20px;
        opacity: .8;
      }
    }
  }

  &__form{
    max-width: 365px;
    width: 100%;

    @include for-992{
      position: relative;
      z-index: 2;
    }
  }

  &__form-row{
    margin-bottom: 15px;
  }

  &__title{
    font-weight: 300;
    font-size: 27px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 15px;
    padding: 0 15px;

    @include for-992{
      font-size: 18px;
      text-align: center;
      font-weight: 500;
    }
  }

  &__input{

    @include for-992{
      display: flex;
      justify-content: center;
    }

    input {
      width: 100%;
      max-width: 280px;

      @include from-992{
        font-size: 24px;
        line-height: 56px;
        max-width: 335px;
      }

    }
  }

  &__checkbox{

    @include from-992{
      padding: 0 15px;
    }

    label{
      font-weight: 300;
      font-size: 12px;
      line-height: 13px;
      letter-spacing: 0.01em;
      color: #000000;
    }
  }

  &__btn{

    @include from-992{
      max-width: 100% ;
      border-radius: 55px;
      width: 100%;
    }

    @include for-992{
      margin: 0 auto;
    }

    span{
      font-weight: 700;

      @include from-992{
        line-height: 74px;
        font-size: 24px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #FFFFFF;
      }
    }
  }
}

.submit{

  &__content{
    padding: 30px 15px;
    background: white;
    border-radius: 20px;
  }
}
